{% extends 'layout/master.html' %}

{% block title %}Add Employee{% endblock %}

{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-wrapper layout-content-navbar {{ is_menu|yesno:',layout-without-menu' }}">
<div class="layout-container">

    {% if is_menu %}
    <!-- Menu: Start -->
    {% include "parts/vertical_menu.html" %}
    <!-- Menu: End -->
    {% endif %}

    <!-- Layout page: Start -->
    <div class="layout-page">


    {% if is_navbar %}
    <!-- Navbar: Start -->
    {% include "parts/navbar.html" %}
    <!-- Navbar: End -->
    {% endif %}

<!-- ######################################################################### -->
    <!-- Content wrapper: Start -->
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <div class="content-wrapper">

        <div class="container">

            <br>
            <center><h2>Add Employee</h2></center>
            <br>
        
            <form method="post" id="employeeForm">
                {% csrf_token %}
        
                <h3>Employee Details</h3>
        
                <div class="col-md-4">
                    <label for="id_employee-first_name">First name :</label>
                    <input type="text" id="id_employee-first_name" name="employee-first_name" class="form-control" placeholder="First name..." aria-label="First name" required>
                </div>
        
                <div class="col-md-4">
                    <label for="id_employee-last_name">Last name :</label>
                    <input type="text" id="id_employee-last_name" name="employee-last_name" class="form-control" placeholder="Last name..." aria-label="Last name">
                </div>
        
                <div class="col-md-4">
                    <label for="id_employee-email">Email :</label>
                    <input type="email" id="id_employee-email" name="employee-email" class="form-control" placeholder="Email..." aria-label="Email">
                </div>


        
                <div class="col-md-4">
                    <label for="id_employee-phone_number">Phone Number :</label>
                    <input type="text" id="id_employee-phone_number" name="employee-phone_number" class="form-control" placeholder="Phone Number..." aria-label="Phone Number">
                </div>

                <div class="col-md-4">
                    <label for="id_employee-position">Position:</label>
                    <select id="id_employee-position" name="employee-position" class="form-control" required>
                        <option value="" selected disabled>Select position...</option>
                        {% for position in positions %}
                            <option value="{{ position.name }}">{{ position.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4" id="super-provider-container" style="display: none;">
                    
                    <label for="id-sp">Super Provider:</label>
                    <select id="id-sp" name="sp_company" class="form-control">
                        <option value="" selected disabled>Select sp Company...</option>
                        {% for sp in all_sp %}
                            <option value="{{ sp.id }}">{{ sp.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- JavaScript to toggle Super Provider select box -->
                <script>
                    $(document).ready(function() {
                        // When Position select box changes
                        $("#id_employee-position").change(function() {
                            // If the selected value is "super provider", show the Super Provider select box, otherwise hide it
                            if ($(this).val() === "super provider") {
                                $("#super-provider-container").show();
                            } else {
                                $("#super-provider-container").hide();
                            }
                        });
                    });
                </script>

            
                <div class="col-md-4">
                    <label for="id_employee-permissions">Permissions:</label>
                    <select id="id_employee-permissions" name="employee-permissions" class="form-control" multiple size="5" required>
                        <option value="" selected disabled>Select Permissions...</option>
                        {% for permission in permissions %}
                            <option value="{{ permission.name }}">{{ permission.name }}</option>
                        {% endfor %}
                    </select>
                </div>



                <div class="col-md-4">
                    <label for="id_employee-username">User Name :</label>
                    <input type="text" id="id_employee-username" name="employee-username" class="form-control" placeholder="User Name..." aria-label="username" required>
                    {% if messages %} 
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                <strong>Error:</strong> {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    
                </div>

                <div class="col-md-4">
                    <label for="id_employee-password">Password :</label>
                    <input type="password" id="id_employee-password" name="employee-password" class="form-control" placeholder="Password..." aria-label="password" required>
                </div>


        
                <!-- Add more fields as needed -->

                <div class="col-md-6">
                    <label for="id_count">result search count :</label>
                    <input type="number" id="id_count" name="search-count" class="form-control" placeholder="SEARCH COUNT ..." required>
                </div>

                <br>

                <label for="id_email">Columns :</label><br>
                <div id="columnForm" >

                    <input type="checkbox" id="inquiryIdCheckbox" name="ids" checked>
                    <label for="inquiryIdCheckbox">IDs</label><br>
                
                    <input type="checkbox" id="customerIdCheckbox" name="dates" checked>
                    <label for="customerIdCheckbox">Dates</label><br>

                    <input type="checkbox" id="customerIdCheckbox" name="customer" checked>
                    <label for="customerIdCheckbox">Customer</label><br>

                    <input type="checkbox" id="customerIdCheckbox" name="source" checked>
                    <label for="customerIdCheckbox">Source</label><br>

                    <input type="checkbox" id="customerIdCheckbox" name="sp" checked>
                    <label for="customerIdCheckbox">Service provider</label><br>

                    <input type="checkbox" id="customerIdCheckbox" name="have_media" checked>
                    <label for="customerIdCheckbox">have media</label><br>
                
                    <input type="checkbox" id="customerIdCheckbox" name="canceling_causes" checked>
                    <label for="customerIdCheckbox">canceling causes</label><br>
                
                    <input type="checkbox" id="customerIdCheckbox" name="advenced_price" checked>
                    <label for="customerIdCheckbox">advenced price</label><br>
                
                    <input type="checkbox" id="customerIdCheckbox" name="total_price" checked>
                    <label for="customerIdCheckbox">total price</label><br>
                
                    <input type="checkbox" id="customerIdCheckbox" name="percentage" checked>
                    <label for="customerIdCheckbox">percentage</label><br>
                
                    <input type="checkbox" id="customerIdCheckbox" name="map" checked>
                    <label for="customerIdCheckbox">map</label><br>
                
                    <!-- Add checkboxes for other columns -->
                </div>
                <script>
                    // Get all checkboxes
                    var checkboxes = document.querySelectorAll("input[type='checkbox']");
                
                    // Add event listener to each checkbox
                    checkboxes.forEach(function(checkbox) {
                        checkbox.addEventListener("change", function(event) {
                            
                            // Get the form element
                            var columnForm = document.getElementById("columnForm");
                
                            // Get all selected checkboxes
                            var selectedCheckboxes = document.querySelectorAll("input[type='checkbox']:checked");
                
                            // Clear existing hidden inputs for selected columns
                            var existingHiddenInputs = document.querySelectorAll("input[name='selected_columns']");
                            existingHiddenInputs.forEach(function(input) {
                                input.remove();
                            });
                
                            // Create a hidden input field for each selected checkbox
                            selectedCheckboxes.forEach(function(checkbox) {
                                var input = document.createElement("input");
                                input.type = "hidden";
                                input.name = "selected_columns";
                                input.value = checkbox.name;
                                columnForm.appendChild(input);
                            });
                
                            // Submit the form
                            columnForm.submit();
                        });
                    });
                    
                </script>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        // Function to add hidden inputs for initially checked checkboxes
                        function addHiddenInputsForChecked() {
                            var columnForm = document.getElementById("columnForm");
                            var selectedCheckboxes = document.querySelectorAll("input[type='checkbox']:checked");
                            
                            selectedCheckboxes.forEach(function(checkbox) {
                                var input = document.createElement("input");
                                input.type = "hidden";
                                input.name = "selected_columns";
                                input.value = checkbox.name;
                                columnForm.appendChild(input);
                            });
                        }

                        // Trigger the function to add hidden inputs for initially checked checkboxes
                        addHiddenInputsForChecked();
                    });
                </script>
                <script>
                    // Get the form element
                    var columnForm = document.getElementById("columnForm");
                
                    // Add event listener to form
                    columnForm.addEventListener("change", function(event) {
                        // Get the target checkbox
                        var checkbox = event.target;
                
                        // Get the column name
                        var columnName = checkbox.name;
                
                        // Get all th elements with the corresponding column name
                        var columnHeaders = document.querySelectorAll("th[id^='" + columnName + "']");
                
                        // Toggle the visibility of each column header based on the checkbox status
                        columnHeaders.forEach(function(header) {
                            header.style.display = checkbox.checked ? "table-cell" : "none";
                        });
                    });
                </script>

        
                <br><br>
                <button class="btn btn-success" type="submit">Add Employee</button>
            </form>

        </div>
        

<!-- ######################################################################### -->

        <!-- Content: Start -->
        {% if is_flex %}
        <div class="{{container_class}} d-flex align-items-stretch flex-grow-1 p-0">
        {% else %}
        <div class="{{container_class}} flex-grow-1 container-p-y">
            {% endif %}
            {% block content %}

            {% endblock content %}

        </div>
        <!-- / Content: End -->

        <!--{% if is_footer %}
            Footer: Start 
        {% include "parts/footer.html" %}
            Footer: End 
        {% endif %}-->

        <div class="content-backdrop fade"></div>
        </div>
        <!--/ Content wrapper: End -->
    </div>


    <!-- / Layout page: End -->
    </div>

    {% if is_menu %}
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    {% endif %}
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- Layout wrapper: End -->
{% endblock layout %}
