{% extends 'layout/master.html' %}

{% block title %}Employee List{% endblock %}

{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-wrapper layout-content-navbar {{ is_menu|yesno:',layout-without-menu' }}">
<div class="layout-container">

    {% if is_menu %}
    <!-- Menu: Start -->
    {% include "parts/vertical_menu.html" %}
    <!-- Menu: End -->
    {% endif %}

    <!-- Layout page: Start -->
    <div class="layout-page">


    {% if is_navbar %}
    <!-- Navbar: Start -->
    {% include "parts/navbar.html" %}
    <!-- Navbar: End -->
    {% endif %}

<!-- ######################################################################### -->
    <!-- Content wrapper: Start -->
    <div class="content-wrapper">
        <div class="container">
            <center><h2>Employee List</h2></center>
            <br>
            <!-- Container for search rows -->
            <div id="search-container">
                <!-- Original search row -->
                <div class="search-row">
                    <!-- Display dynamic search form with position dropdown -->
                    <form method="get" action="{% url 'employee_list' %}">
                        <div class="mysearsh row g-3">
                            <div class="col-md-6">
                                <label for="search_value">Employee Name :</label>
                                <input type="text" name="emp_name" class="form-control" value="{{ emp_name }}" placeholder='First Name ....' aria-label="First Name">
                            </div>
                            <br>
                        </div>
                        <div>
                            <br>
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        
        
            <!-- Table to display employee information -->
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Position</th>
                        <th>Search interval</th>
                        <th>Delete</th>
                        <!-- Add other columns as needed -->
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                        <tr>
                            <td>{{ employee.user.id }}</td>
                            <td><a href="{% url 'employee_info' employee.id %}">{{ employee.first_name }}</a></td>
                            <td>{{ employee.last_name }}</td>
                            <td>{{ employee.email }}</td>
                            <td>{{ employee.phone_number }}</td>

                            <td>
                                {% if employee.position.name == 'super provider' %}
                                SP
                                {% else %}
                                {{ employee.position.name }}
                                {% endif %}
                                {% if employee.sp.name %}
                                <small>({{ employee.sp.name }})</small>
                                {% endif %}
                            </td>

                            <td>{{ employee.search_number }} Day</td>

                            <td>
                                {% if employee.user.id != user.id %}
                                <a class="btn btn-danger" href="{% url 'delete_user' employee.user.id %}">Delete Employee</a>
                                {% endif %}
                            </td>
                            <!-- Add other columns as needed -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        


<!-- ######################################################################### -->

        <!-- Content: Start -->
        {% if is_flex %}
        <div class="{{container_class}} d-flex align-items-stretch flex-grow-1 p-0">
        {% else %}
        <div class="{{container_class}} flex-grow-1 container-p-y">
            {% endif %}
            {% block content %}
            {% endblock content %}

        </div>
        <!-- / Content: End -->

        <!--{% if is_footer %}
            Footer: Start 
        {% include "parts/footer.html" %}
            Footer: End 
        {% endif %}-->

        <div class="content-backdrop fade"></div>
        </div>
        <!--/ Content wrapper: End -->
    </div>
    <!-- / Layout page: End -->
    </div>

    {% if is_menu %}
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    {% endif %}
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- Layout wrapper: End -->
{% endblock layout %}
