{% extends 'layout/master.html' %}

{% block title %}Edit SP: {{sp.name}}{% endblock %}

{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-wrapper layout-content-navbar {{ is_menu|yesno:',layout-without-menu' }}">
<div class="layout-container">

    {% if is_menu %}
    <!-- Menu: Start -->
    {% include "parts/vertical_menu.html" %}
    <!-- Menu: End -->
    {% endif %}

    <!-- Layout page: Start -->
    <div class="layout-page">


    {% if is_navbar %}
    <!-- Navbar: Start -->
    {% include "parts/navbar.html" %}
    <!-- Navbar: End -->
    {% endif %}

<!-- ######################################################################### -->
    <!-- Content wrapper: Start -->
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <div class="content-wrapper">

        <div class="container">

            <br>
            <center><h2>Edite Super Provider</h2></center>
            <br>
        
            <form method="post" id="employeeForm">
                {% csrf_token %}
        
                <h3>Super Provider Details</h3>
        
                <div class="col-md-6">
                    <label for="id_name">Name :</label>
                    <input type="text" id="id_name" name="sp-name" value="{{ sp.name }}" class="form-control" placeholder="name..." aria-label="name">
                </div>

                <div class="col-md-6">
                    <label for="id_trn">TRN :</label>
                    <input type="text" id="id_trn" name="sp-trn" value="{{ sp.trn }}" class="form-control" placeholder="TRN..." aria-label="First name">
                </div>
                <br>

                <div class="col-md-6" >
                    <label for="Reference" >Reference :</label>
                    <input type="text" id="Reference" name="sp-ref" value="{{ sp.reference }}" class="form-control" placeholder="Reference..." aria-label="Reference">
                </div>
                <br>
                


                <div class="col-md-6">
                    <label for="id_employee-permissions">Services:</label>
                    <select name="sp-service" class="form-control" required multiple size="5">
                        <option value="" disabled >Chose a service</option>
                        {% for service in services %}
                                {% if service in sp.service.all %}
                                    <option value="{{service.id}}" selected>{{ srvc.number }} - {{ service.name }}</option>
                                {% else %}
                                    <option value="{{service.id}}">{{ service.number }} - {{ service.name }}</option>
                                {% endif %}
                        {% endfor %}
                    </select>
                </div>


                <div class="col-md-6">
                    <label for="id_count">result search count :</label>
                    <input type="number" id="id_count" name="search-count" value="{{ sp.search_number }}" class="form-control" placeholder="SEARCH COUNT ..." required>
                </div>

                <div class="col-md-6">
                    <label for="id_Phone">Phone number :</label>
                    <input type="text" id="id_Phone" name="sp-phone_number" value="{{ sp.phone_Number }}" class="form-control" placeholder="Phone Number ...">
                </div>
                <div class="col-md-6">
                    <label for="id_email">Email :</label>
                    <input type="text" id="id_email" name="sp-email" class="form-control" value="{{ sp.email }}" placeholder="Email ...">
                </div>

                <label for="id_email">Columns :</label><br>
                <div id="columnForm" >

                    {% for column in all_columns %}
                        {% if column in columns %}
                            <input type="checkbox" id="inquiryIdCheckbox" name="{{column}}" checked>
                            <label for="inquiryIdCheckbox">{{column}}</label><br>
                        {% else %}
                            <input type="checkbox" id="inquiryIdCheckbox" name="{{column}}" >
                            <label for="inquiryIdCheckbox">{{column}}</label><br>
                        {% endif %}
                    {% endfor %}

                    <!-- Add checkboxes for other columns -->
                </div>
                <script>
                    // Get all checkboxes
                    var checkboxes = document.querySelectorAll("input[type='checkbox']");
                
                    // Add event listener to each checkbox
                    checkboxes.forEach(function(checkbox) {
                        checkbox.addEventListener("change", function(event) {
                            
                            // Get the form element
                            var columnForm = document.getElementById("columnForm");
                
                            // Get all selected checkboxes
                            var selectedCheckboxes = document.querySelectorAll("input[type='checkbox']:checked");
                
                            // Clear existing hidden inputs for selected columns
                            var existingHiddenInputs = document.querySelectorAll("input[name='selected_columns']");
                            existingHiddenInputs.forEach(function(input) {
                                input.remove();
                            });
                
                            // Create a hidden input field for each selected checkbox
                            selectedCheckboxes.forEach(function(checkbox) {
                                var input = document.createElement("input");
                                input.type = "hidden";
                                input.name = "selected_columns";
                                input.value = checkbox.name;
                                columnForm.appendChild(input);
                            });
                
                            // Submit the form
                            columnForm.submit();
                        });
                    });
                    
                </script>

                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        // Function to add hidden inputs for initially checked checkboxes
                        function addHiddenInputsForChecked() {
                            var columnForm = document.getElementById("columnForm");
                            var selectedCheckboxes = document.querySelectorAll("input[type='checkbox']:checked");
                            
                            selectedCheckboxes.forEach(function(checkbox) {
                                var input = document.createElement("input");
                                input.type = "hidden";
                                input.name = "selected_columns";
                                input.value = checkbox.name;
                                columnForm.appendChild(input);
                            });
                        }

                        // Trigger the function to add hidden inputs for initially checked checkboxes
                        addHiddenInputsForChecked();
                    });
                </script>
                
                <script>
                    // Get the form element
                    var columnForm = document.getElementById("columnForm");
                
                    // Add event listener to form
                    columnForm.addEventListener("change", function(event) {
                        // Get the target checkbox
                        var checkbox = event.target;
                
                        // Get the column name
                        var columnName = checkbox.name;
                
                        // Get all th elements with the corresponding column name
                        var columnHeaders = document.querySelectorAll("th[id^='" + columnName + "']");
                
                        // Toggle the visibility of each column header based on the checkbox status
                        columnHeaders.forEach(function(header) {
                            header.style.display = checkbox.checked ? "table-cell" : "none";
                        });
                    });
                </script>

                
        
                <!-- Add more fields as needed -->
        
                <br><br>
                <button class="btn btn-success" type="submit">Edit Super Provider</button>
            </form>

        </div>
        

<!-- ######################################################################### -->

        <!-- Content: Start -->
        {% if is_flex %}
        <div class="{{container_class}} d-flex align-items-stretch flex-grow-1 p-0">
        {% else %}
        <div class="{{container_class}} flex-grow-1 container-p-y">
            {% endif %}
            {% block content %}

            {% endblock content %}

        </div>
        <!-- / Content: End -->

        <!--{% if is_footer %}
            Footer: Start 
        {% include "parts/footer.html" %}
            Footer: End 
        {% endif %}-->

        <div class="content-backdrop fade"></div>
        </div>
        <!--/ Content wrapper: End -->
    </div>


    <!-- / Layout page: End -->
    </div>

    {% if is_menu %}
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    {% endif %}
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- Layout wrapper: End -->
{% endblock layout %}
