{% extends 'layout/master.html' %}

{% block title %}SP : {{sp.name}}{% endblock %}

{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-wrapper layout-content-navbar {{ is_menu|yesno:',layout-without-menu' }}">
<div class="layout-container">

    {% if is_menu %}
    <!-- Menu: Start -->
    {% include "parts/vertical_menu.html" %}
    <!-- Menu: End -->
    {% endif %}

    <!-- Layout page: Start -->
    <div class="layout-page">


    {% if is_navbar %}
    <!-- Navbar: Start -->
    {% include "parts/navbar.html" %}
    <!-- Navbar: End -->
    {% endif %}

<!-- ######################################################################### -->
    <!-- Content wrapper: Start -->
    <div class="content-wrapper">

        <br>
        <div class="container">

            
            <br>
            <center><h2>Super provider Information</h2></center>
            <br>

            <h3>SP Details</h3>
            <p>name: {{ sp.name }}</p>

            <p>TRN: {{ sp.trn }}</p>
            <p>Reference: {{ sp.reference }}</p>

            <p>Phone Number: {{ sp.phone_Number }}</p>
            <p>Email: {{ sp.email }}</p>

            <p>services: 
                <ul>
                    {% for srvc in sp.service.all %}
                    <li>
                        
                        <p>{{ srvc.number }} - {{ srvc.name }}</p>
                        <p>Description: {{ srvc.description }}</p>
                        <p>Columns: {{ srvc.columns }}</p>
                        <p>{% if srvc.have_reminder == 'True' %}Reminder : {{ srvc.reminder_time }}{% endif %}</p>
                        <br>


                    </li>
                    {% endfor %}
                </ul>
                
            </p>
            <!-- Add other customer details as needed -->

            <hr>
        

        </div>

        <div style="text-align: center;">
            <a href="{% url 'super_provider_edit' sp.id %}" class="btn btn-primary waves-effect waves-light">Edit SP</a>
        </div>



<!-- ######################################################################### -->

        <!-- Content: Start -->
        {% if is_flex %}
        <div class="{{container_class}} d-flex align-items-stretch flex-grow-1 p-0">
        {% else %}
        <div class="{{container_class}} flex-grow-1 container-p-y">
            {% endif %}
            {% block content %}
            {% endblock content %}

        </div>
        <!-- / Content: End -->

        <!--{% if is_footer %}
            Footer: Start 
        {% include "parts/footer.html" %}
            Footer: End 
        {% endif %}-->

        <div class="content-backdrop fade"></div>
        </div>
        <!--/ Content wrapper: End -->
    </div>
    <!-- / Layout page: End -->
    </div>

    {% if is_menu %}
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    {% endif %}
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- Layout wrapper: End -->
{% endblock layout %}
