{% extends 'layout/master.html' %}

{% block title %}Super Provider List{% endblock %}

{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-wrapper layout-content-navbar {{ is_menu|yesno:',layout-without-menu' }}">
<div class="layout-container">

    {% if is_menu %}
    <!-- Menu: Start -->
    {% include "parts/vertical_menu.html" %}
    <!-- Menu: End -->
    {% endif %}

    <!-- Layout page: Start -->
    <div class="layout-page">


    {% if is_navbar %}
    <!-- Navbar: Start -->
    {% include "parts/navbar.html" %}
    <!-- Navbar: End -->
    {% endif %}

<!-- ######################################################################### -->
    <!-- Content wrapper: Start -->
    <div class="content-wrapper">
        <div class="container">
            <center><h2>Super Provider List</h2></center>
            <br>
                
            <!-- Table to display service information -->
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>super provider Name</th>
                        <th>Services</th>
                        <th>TRN</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Search Count</th>
                        <th>Reference & counter</th>

                        <!-- Add other columns as needed -->
                    </tr>
                </thead>
                <tbody>
                    {% for sp in all_sp %}
                        <tr>
                            <td>{{ sp.id }}</td>
                            <td>{{ sp.name }}</td>
                            <td>{% for srvs in sp.service.all %}{{srvs}} , {% endfor %}</td>
                            <td>{{ sp.trn }}</td>
                            <td>{{ sp.phone_Number }}</td>
                            <td>{{ sp.email }}</td>
                            <td>{{ sp.search_number }}</td>
                            <td>{% if sp.reference %}{{ sp.reference }}{% endif %} - {% if sp.invoice_count %}{{ sp.invoice_count }}{% endif %}</td>


                            <!-- Add other columns as needed -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        


<!-- ######################################################################### -->

        <!-- Content: Start -->
        {% if is_flex %}
        <div class="{{container_class}} d-flex align-items-stretch flex-grow-1 p-0">
        {% else %}
        <div class="{{container_class}} flex-grow-1 container-p-y">
            {% endif %}
            {% block content %}
            {% endblock content %}

        </div>
        <!-- / Content: End -->

        <!--{% if is_footer %}
            Footer: Start 
        {% include "parts/footer.html" %}
            Footer: End 
        {% endif %}-->

        <div class="content-backdrop fade"></div>
        </div>
        <!--/ Content wrapper: End -->
    </div>
    <!-- / Layout page: End -->
    </div>

    {% if is_menu %}
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    {% endif %}
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- Layout wrapper: End -->
{% endblock layout %}
