{% extends 'layout/master.html' %}
{% load i18n %}
{% load static %}

{% block title %}Messages{% endblock %}

{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-wrapper layout-content-navbar {{ is_menu|yesno:',layout-without-menu' }}">
<div class="layout-container">

    {% if is_menu %}
    <!-- Menu: Start -->
    {% include "parts/vertical_menu.html" %}
    <!-- Menu: End -->
    {% endif %}

    <!-- Layout page: Start -->
    <div class="layout-page">


    {% if is_navbar %}
    <!-- Navbar: Start -->
    {% include "parts/navbar.html" %}
    <!-- Navbar: End -->
    {% endif %}

<!-- ######################################################################### -->
    <!-- Content wrapper: Start -->
    <div class="content-wrapper">

        <div class="container">

            <center><h1>Messages </h1><small>for {{ inquiry }}</small></center>

            <style>
                .message-from-user {
                    color: darkgreen;
                    text-align: right;
                }
                .message-from-other {
                    color: brown;
                    text-align: left;
                }
            </style>
            <br>

            <div class="container">
                <div >
                    {% for message in messages %}
                        {% if message.source == user.employee %}

                            <div class="message-from-user">

                                <img src="{% static 'img/avatars/1.png' %}" alt class="w-px-40 h-auto rounded-circle">
                                {{ message.source }}<br>
                                <strong>{{ message.content }}</strong><br>
                                send at: {{ message.created }}<br>
                            </div>

                        {% else %}

                            <div class="message-from-other">

                                <img  src="{% static 'img/avatars/1.png' %}" alt class="w-px-40 h-auto rounded-circle">
                                {{ message.source }}<br>
                                <strong>{{ message.content }}</strong><br>
                                send at: {{ message.created }}<br>
                            </div>
                            
                            
                        {% endif %}
                        <br>
                    {% endfor %}
                </div>
            </div>
        
            <center>
            <h2>Send Message</h2>
            <form action="{% url 'messages' inquiry.id %}" method="post">
                {% csrf_token %}
                <div class="col-md-8">
                    <label for="content">Content:</label><br>
                    <textarea id="content" class="form-control" name="content" rows="4" cols="50"></textarea>
                </div>
                <br>
                <button class="btn btn-success" type="submit">Send Message</button>
            </form>
            </center>





        </div>
        

<!-- ######################################################################### -->

        <!-- Content: Start -->
        {% if is_flex %}
        <div class="{{container_class}} d-flex align-items-stretch flex-grow-1 p-0">
        {% else %}
        <div class="{{container_class}} flex-grow-1 container-p-y">
            {% endif %}
            {% block content %}

            {% endblock content %}

        </div>
        <!-- / Content: End -->

        <!--{% if is_footer %}
            Footer: Start 
        {% include "parts/footer.html" %}
            Footer: End 
        {% endif %}-->

        <div class="content-backdrop fade"></div>
        </div>
        <!--/ Content wrapper: End -->
    </div>


    <!-- / Layout page: End -->
    </div>

    {% if is_menu %}
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    {% endif %}
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- Layout wrapper: End -->
{% endblock layout %}

