{% extends 'layout/master.html' %}

{% block title %}Add quotation{% endblock %}

{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-wrapper layout-content-navbar {{ is_menu|yesno:',layout-without-menu' }}">
<div class="layout-container">

    {% if is_menu %}
    <!-- Menu: Start -->
    {% include "parts/vertical_menu.html" %}
    <!-- Menu: End -->
    {% endif %}

    <!-- Layout page: Start -->
    <div class="layout-page">


    {% if is_navbar %}
    <!-- Navbar: Start -->
    {% include "parts/navbar.html" %}
    <!-- Navbar: End -->
    {% endif %}

<!-- ######################################################################### -->
    <!-- Content wrapper: Start -->
    <div class="content-wrapper">

        <div class="container">
            <center>
                <h1>make quotation</h1>
                <br>
                <h4>description</h4>
                <p> {{ inquiry.description }}</p>
            </center>
            <br>

            <form method="post" id="quotationForm" >
                {% csrf_token %}
                <!-- {{ quotation_form }} -->

                <h3>quotation Details</h3>
                <div>
                    
                    <!--
                    <div class="col-md-4">
                        <h6 for="id_quotation-service">Service : {{ user.employee.sp_service.name }} </h6>
                    </div>-->
                    <div class="col-md-4">
                        <label for="id_quotation-date" > Quotation Date : </label>
                        <input type="date" value="{{ date|date:'Y-m-d' }}" id="id_quotation-date" name="quotation-date" class="form-control" required >
                    </div>

                    <div class="col-md-4">
                        <label for="id_quotation-sp">super provider :</label>
                        <select id="id_quotation-sp" name="quotation-sp" class="form-control" disabled>
                                <option value="{{ sp.id }}" selected>{{ sp }}</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label for="id_quotation-service">service :</label>
                        <select id="id_quotation-service" name="quotation-service" class="form-control" disabled>
                                {% for service in services %}
                                    <option value="{{ service.id }}">{{ service }}</option>
                                {% endfor %}
                        </select>
                    </div>

                

                    
                    <br><br>



                    <!-- add details forms -->
                    <!-- Add details forms -->
                    <div class="col-md-4">

                        {% for quotation in last %}
                        <div id="{{quotation.n}}">

                            {% for column in quotation.data %}
                                {% if column.name == "price" or column.name == "quantity" %}
                                <label for="id_quotation-{{column.name}}-{{quotation.n}}">{{ column.name }} :</label>
                                <input type="number" id="id_quotation-{{column.name}}-{{quotation.n}}" name="quotation-{{column.name}}" class="form-control" value="{{column.value}}" placeholder="{{column.name}}..." aria-label="column" oninput="updateTotal({{quotation.n}})" required>
                                {% else %}
                                <label for="id_quotation-{{column.name}}-1">{{ column.name }} :</label>
                                <input type="text" id="id_quotation-{{column.name}}-{{quotation.n}}" name="quotation-{{column.name}}" class="form-control" value="{{column.value}}" placeholder="{{column.name}}..." aria-label="column" oninput="updateTotal({{quotation.n}})">
                                {% endif %}
                            {% endfor %}
                            <label for="Total">Total:</label>
                            <span id="total-{{quotation.n}}" onload="updateTotal({{quotation.n}})" name="total"></span>

                            <br>
                            <button type="button" class='btn btn-danger btn-sm' onclick="deleteQ({{quotation.id}} , {{quotation.n}})">delete</button>

                            <br><hr><br>
                        </div>

                        {% endfor %}

                        <script>
                            function deleteQ(id,n){
                                cont = document.getElementById(n)
                                cont.remove()
                                $.ajax({
                                    type: 'GET',
                                    url: '/delete_quotation',
                                    data: {
                                        'q_id': id,
                                    },
                                    dataType: 'json',
                                    success: function(response) {
                                        console.log("yeaaaaaaaaaaaaaah")
                                    },
                                    error: function(xhr, status, error) {
                                        console.error('Error:', error);
                                    }
                                });
            
                            }
                        </script>


                        

                        <hr>
                    </div>

                    <div id="additional-quotations"></div>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="addQuotation()">Add New Quotation</button>

                    <script>
                        var quotationCounter = 2;


                    function updateTotal(quotationId) {
                        var price = parseFloat(document.getElementById('id_quotation-price-' + quotationId).value) || 0;
                        var quantity = parseFloat(document.getElementById('id_quotation-quantity-' + quotationId).value) || 0;

                        // Calculate total
                        var total = price * quantity;

                        // Display the total
                        document.getElementById('total-' + quotationId).innerHTML = total.toFixed(2);
                    }

                    function addQuotation() {
                        var hr = document.createElement('hr');
                        var container = document.createElement('div');
                        container.className = 'col-md-4';

                        {% for column in columns_list %}
                            var label = document.createElement('label');
                            label.setAttribute('for', 'id_quotation-{{ column }}-' + quotationCounter);
                            label.textContent = '{{ column }} ' + quotationCounter + ' :';
                            var input = document.createElement('{% if column == "price" or column == "quantity" %}input{% else %}textarea{% endif %}');
                            input.type = '{% if column == "price" or column == "quantity" %}number{% else %}text{% endif %}';
                            input.id = 'id_quotation-{{ column }}-' + quotationCounter;
                            input.name = 'quotation-{{ column }}';
                            input.className = 'form-control';
                            input.placeholder = '{{ column }} ' + quotationCounter + '...';
                            input.setAttribute('aria-label', '{{ column }} ' + quotationCounter);
                            {% if column != "price" and column != "quantity" %}
                                input.rows = 3;
                            {% endif %}
                            // Add an event listener to each input for real-time total calculation
                            input.addEventListener('input', function() {
                                updateTotal(quotationCounter);
                            });
                            input.setAttribute('oninput', 'updateTotal(' + quotationCounter + ')');
                            container.appendChild(label);
                            container.appendChild(input);
                        {% endfor %}

                        var labelTotal = document.createElement('label');
                        labelTotal.setAttribute('for', 'total-' + quotationCounter);
                        labelTotal.textContent = 'Total:';
                        var spanTotal = document.createElement('span');
                        spanTotal.id = 'total-' + quotationCounter;
                        spanTotal.name = 'total';
                        container.appendChild(labelTotal);
                        container.appendChild(spanTotal);

                        var divv = document.createElement('div');
                        container.appendChild(divv);

                        var button = document.createElement('button');
                        button.type = 'button';
                        button.className = 'btn btn-danger btn-sm';
                        button.textContent = 'Remove';
                        button.onclick = function () {
                            container.remove();
                        };

                        container.appendChild(button);

                        container.appendChild(hr);

                        document.getElementById('additional-quotations').appendChild(container);

                        quotationCounter++;
                    }

                    </script>

                    <br><br>





                    <br><br>
                </div>

                <br>



                <br><br>
                <button class="btn btn-success" type="submit">Add Quotation</button>
            </form>











        </div>
        

<!-- ######################################################################### -->

        <!-- Content: Start -->
        {% if is_flex %}
        <div class="{{container_class}} d-flex align-items-stretch flex-grow-1 p-0">
        {% else %}
        <div class="{{container_class}} flex-grow-1 container-p-y">
            {% endif %}
            {% block content %}

            {% endblock content %}

        </div>
        <!-- / Content: End -->

        <!--{% if is_footer %}
            Footer: Start 
        {% include "parts/footer.html" %}
            Footer: End 
        {% endif %}-->

        <div class="content-backdrop fade"></div>
        </div>
        <!--/ Content wrapper: End -->
    </div>


    <!-- / Layout page: End -->
    </div>

    {% if is_menu %}
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    {% endif %}
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- Layout wrapper: End -->
{% endblock layout %}

