{% extends 'layout/master.html' %}

{% block title %}Inquiry Information{% endblock %}

{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-wrapper layout-content-navbar {{ is_menu|yesno:',layout-without-menu' }}">
<div class="layout-container">

    {% if is_menu %}
    <!-- Menu: Start -->
    {% include "parts/vertical_menu.html" %}
    <!-- Menu: End -->
    {% endif %}

    <!-- Layout page: Start -->
    <div class="layout-page">


    {% if is_navbar %}
    <!-- Navbar: Start -->
    {% include "parts/navbar.html" %}
    <!-- Navbar: End -->
    {% endif %}

<!-- ######################################################################### -->
    <!-- Content wrapper: Start -->
    <div class="content-wrapper">
        {% if messages %}
            {% for message in messages %}
                <center>
                    <div class="alert {% if message.tags %} alert-{{message.tags}} {% endif %}">{{ message }}</div>
                </center>
            {% endfor %}
        {% endif %}

    {% if user.employee.position.name == "call center" or user.employee.position.name == "admin" or inquiry.services.name == user.employee.sp_service.name or "inquiry info" in permissions_list %}

            
        
        <br>
        <div class="container">
            <br>
            <center><h2>Inquiry Information</h2></center>
            <br>

            <h3 style="color: #105794;">Customer Details</h3>
            <ul>
                <h6>First Name: {{ customer.first_name }}</h6>
                <h6>Last Name: {{ customer.last_name }}</h6>
                <h6>Nationality: {{ customer.nationality }}</h6>
            </ul>

            <br><hr>
        
            <h3 style="color: #105794;">Contact Information</h3>

            <ul>
            
                {% for number in customer.landline_set.all %}
                    {% if number.landline %}
                        <h6>Landlines: {{ number.landline }}</h6>
                    {% endif %}
                {% endfor %}

                {% for number in customer.phonenumber_set.all %}
                    {% if number.number %}
                        <h6>Phone Numbers: {{ number.number }}</h6>
                    {% endif %}
                {% endfor %}

                {% for whatsApp in customer.whatsapp_set.all %}
                    {% if whatsApp.whatsapp %}
                        <h6>WhatsApp Numbers: {{ whatsApp.whatsapp }}</h6>
                        
                    {% endif %}
                {% endfor %}

                {% for email in customer.email_set.all %}
                    {% if email.email %}
                        <h6>Emails: {{ email.email }}</h6>
                    {% endif %}
                {% endfor %}

            </ul>

            <br>

            {% if user.employee.position.name == "super provider" %}
                {% if inquiry_state.status.name == "new" %}
                    <!--<a id="connect_via_whatsapp" href="{{ connect_with_customer_whatsapp_link }}" class="btn btn-success" style="background-color: #146fba ;">  </a>
                    <a id="make_inq_connect" href="{% url 'make_inq_connecting' inquiry.id %}" > <img height="30px" width="30px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1200px-WhatsApp.svg.png" alt=""> Contact has been made with the client via whatsapp </a>-->
                    <a href="{{ connect_with_customer_whatsapp_link }}" target="_blank">
                    <button id="connect_via_whatsapp_and_make_inq_connect" class="btn btn-success" >
                        <img height="30px" width="30px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1200px-WhatsApp.svg.png" alt="WhatsApp Icon"> Contact via WhatsApp and Make Inquiry Connection
                    </button>
                    </a>
                    
                    <script>
                    document.getElementById("connect_via_whatsapp_and_make_inq_connect").addEventListener("click", function() {
                        // Perform action to connect via WhatsApp
                        window.location.href = "{{ connect_with_customer_whatsapp_link }}";
                    
                        // Perform action to make inquiry connection
                        window.location.href = "{% url 'make_inq_connecting' inquiry.id %}";
                    });
                    </script>
                    
                {% elif inquiry_state.status.name ==  "connecting" %}
                    <a href="{% url 'make_inq_new' inquiry.id %}" class="btn btn-primary" style="background-color: #e81010 ;"> Contact Canceling </a>
                {% endif %}
            {% endif %}

            <hr>
        
            <h3 style="color:#479d1f;">Inquiry
                {% if user.employee.position.name == "call center" %}
                    {% if not booking_number and quotations %}
                        <a href="{% url 'make_booking' inquiry.id %}" class="btn btn-primary" style="background-color: #146fba ;"> Booking </a>
                    {% endif %}
                {% endif %}
            </h3>
                <ul>
                    <h4>inquiry address of: {{ inquiry.address.address_name }}</h4>
                    <h6>Date Inq: {{ inquiry.date_inq }}</h6>
                    <h6>Source: {{ inquiry.source }}</h6>
                    <h6>Services: {{ inquiry.services.name }}</h6>
                    <h6>Description: {{ inquiry.description }}</h6>
                </ul>
                
                <br>
                {% if user.employee.position.name == "super provider" %}
                    <div style="text-align: center;">
                        <a style="text-align: right;" href="{% url 'make_quotation' inquiry.id %}" class="btn btn-secondary">Add Quotations</a>
                    </div>  
                {% elif user.employee.permissions.all %}
                    {% for permission in user.employee.permissions.all %}
                        {% if permission.name == "make quotation" %}
                            <div style="text-align: center;">
                                <a style="text-align: right;" href="{% url 'make_quotation' inquiry.id %}" class="btn btn-secondary">Add Quotations</a>
                            </div>                      
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <br>
                <!-- Add other inquiry details as needed -->

            
            <hr>
        {% if quotations %}
            <h3 style="color:#264f13;">Quotations 
                {% if quotations and user.employee.position.name == "super provider" %}
                    <a class="btn btn-primary" href="{% url 'edit_quotation' inquiry.id %}">Edit Quotations</a>
                {% endif %}
                {% if quotations and user.employee.position.name == "admin" %}
                    <a class="btn btn-primary" href="{% url 'edit_quotation' inquiry.id %}">Edit Quotations</a>
                    <a class="btn btn-primary" href="{% url 'generate_pdf' id=inquiry.id %}" target="_blank">Generate PDF</a>
                {% endif %}
                {% for permission in user.employee.permissions.all %}
                    {% if quotations and permission.name == "extract quotations" or user.employee.position.name == "call center" %}
                        <a class="btn btn-primary" href="{% url 'generate_pdf' id=inquiry.id %}" target="_blank">Quotations</a>
                    {% endif %}
                    {% if quotations and permission.name == "edit quotation" %}
                        <a class="btn btn-primary" href="{% url 'edit_quotation' inquiry.id %}">Edit Quotations</a>
                    {% endif %}
                {% endfor %}
        
                <a href="{{ whatsapp_link }}" class="btn btn-success"> <img height="30px" width="30px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1200px-WhatsApp.svg.png" alt=""> send via whatsapp</a>
            </h3> 
                
                <table class="table">
                    <thead>
                        <tr>
                            {% for column in columns_list %}
                                <th>{{ column }}</th>
                            {% endfor %}

                            <!-- Add other columns as needed -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for line in data %}
                            <tr>
                                {% for case in line %}
                                    <td>{{ case }}</td>
                                {% endfor %}
                                <!-- Add other columns as needed -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if quotations or user.employee.position.name == "admin" or user.employee.position.name == "call center" %}
                    {% if inquiry_state.status.name ==  "send Q or B" %}
                        <a href="{% url 'make_inq_pending' inquiry.id %}" class="btn btn-primary" style="background-color: #146fba ;"> quotation has been sent to the client </a>
                    {% endif %}
                {% endif %}
        {% endif %}

                <br>
                <!-- Add other inquiry details as needed -->
            {% if booking_number %}
                <hr>
                <h3 style="color:#264f13;">Booking
                {% if user.employee.position.name == "call center" or  user.employee.position.name == "admin" %}
                    <a class="btn btn-primary" href="{% url 'generate_invoice' id=inquiry.id %}" target="_blank">INVOICE PDF</a>
                {% endif %}

                <a href="{{ whatsapp_link_invoice }}" class="btn btn-success"> <img height="30px" width="30px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1200px-WhatsApp.svg.png" alt=""> send via whatsapp</a>
                
                </h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Details</th>
                            <th>Booking Number</th>
                            <!-- Add other columns as needed -->
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>{{ booking_detail }}</td>
                                <td>{{ booking_number }}</td>
                                <!-- Add other columns as needed -->
                            </tr>
                    </tbody>
                </table>
            {% endif %}



        </div>

    {% else %}
        <center><h1>Sorry you dont have right to access this page</h1></center>
        <p>{{ permissions_list }}</p>
    {% endif %}


<!-- ######################################################################### -->

        <!-- Content: Start -->
        {% if is_flex %}
        <div class="{{container_class}} d-flex align-items-stretch flex-grow-1 p-0">
        {% else %}
        <div class="{{container_class}} flex-grow-1 container-p-y">
            {% endif %}
            {% block content %}
            {% endblock content %}

        </div>
        <!-- / Content: End -->

        <!--{% if is_footer %}
            Footer: Start 
        {% include "parts/footer.html" %}
            Footer: End 
        {% endif %}-->

        <div class="content-backdrop fade"></div>
        </div>
        <!--/ Content wrapper: End -->
    </div>
    <!-- / Layout page: End -->
    </div>

    {% if is_menu %}
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    {% endif %}
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- Layout wrapper: End -->
{% endblock layout %}
