{% extends 'layout/master.html' %}

{% block title %}Inquiry Information{% endblock %}

{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-wrapper layout-content-navbar {{ is_menu|yesno:',layout-without-menu' }}">
<div id="content" class="layout-container">

    {% if is_menu %}
    <!-- Menu: Start -->
    {% include "parts/vertical_menu.html" %}
    <!-- Menu: End -->
    {% endif %}

    <!-- Layout page: Start -->
    <div class="layout-page">


    {% if is_navbar %}
    <!-- Navbar: Start -->
    {% include "parts/navbar.html" %}
    <!-- Navbar: End -->
    {% endif %}

<!-- ######################################################################### -->
    <!-- Content wrapper: Start -->
    <div class="content-wrapper">
        <!--
        {% if messages %}
            {% for message in messages %}
                <center>
                    <div class="alert {% if message.tags %} alert-{{message.tags}} {% endif %}">{{ message }}</div>
                </center>
            {% endfor %}
        {% endif %}
        -->

    {% if user.employee.position.name == "call center" or user.employee.position.name == "admin" or inquiry.sp.name == user.employee.sp.name or "inquiry info" in permissions_list %}

        
        
        <br>
        <div class="container">
            <div id="update">
                <br>
                <center><h2>Inquiry Information</h2></center>
                <br>
                <center>
                    {% if inquiry_state.status.name ==  "cancel" %}
                        <h4 style="color: #941515;">this inquiry canceled</h4>
                        <h6>canceling causes: {{ canceling_cause }}</h6>
                    {% endif %}
                </center>

                <h3>Open <a href="{% url 'messages' inquiry.id %}"> Messages</a></h3><br>

                <h3 style="color: #105794;">Customer Details</h3>
                <ul>
                    <h6>First Name: {{ customer.first_name }}</h6>
                    <h6>Last Name: {{ customer.last_name }}</h6>
                    <h6>Nationality: {{ customer.nationality }}</h6>
                </ul>

                <br><br>

                {% if user.employee in handlers %}
                    <hr>
                    <h3 style="color: #105794;">State</h3>
                    <ul>
                            <form>
                                {% for state in status %}
                                    {% if inquiry_state.status.name == state.name %}
                                    <input type="radio" id="{{state.name}}"  name="inquiry_state" value="{{state.name}}" checked>
                                    <label for="{{state.name}}">{{state.name}}</label><br>
                                    {% else %}
                                    <input type="radio" id="{{state.name}}"  name="inquiry_state" value="{{state.name}}" onclick="makeInq('{{state.name}}')">
                                    <label for="{{state.name}}">{{state.name}}</label><br>
                                    {% endif %}
                                {% endfor %}
                            </form>
                            <script>
                                function makeInq(state) {
                                    $.ajax({
                                        type: "GET",
                                        url: `/make_inq_${state}/{{inquiry.id}}`, // Replace inq_id with the actual inquiry ID
                                        success: function(data) {
                                            // Handle success response if needed
                                        },
                                        error: function(xhr, status, error) {
                                            console.error('Error:', error);
                                        }
                                    });
                                }
                            </script>
                            
                        
                    </ul>
                    <br><hr>
                {% endif %}
            
                <h3 style="color: #105794;">Contact Information</h3>

                <ul>
                    
                
                    {% for number in customer.landline_set.all %}
                        {% if number.landline %}
                            <h6>Landlines: {{ number.landline }} <a href="tel:{{ number.landline }}" class="btn btn-primary waves-effect waves-light">Call {{ number.landline }}</a></h6>
                        {% endif %}
                    {% endfor %}


                    {% for number in customer.phonenumber_set.all %}
                        {% if number.number %}
                            <h6>Phone Numbers: {{ number.number }} <a href="tel:{{ number.number }}" class="btn btn-primary waves-effect waves-light">Call {{ number.number }}</a></h6>
                        {% endif %}
                    {% endfor %}

                    {% for whatsApp in customer.whatsapp_set.all %}
                        {% if whatsApp.whatsapp %}
                            <h6>WhatsApp Numbers: {{ whatsApp.whatsapp }}</h6>
                            
                        {% endif %}
                    {% endfor %}

                    {% for email in customer.email_set.all %}
                        {% if email.email %}
                            <h6>Emails: {{ email.email }}</h6>
                        {% endif %}
                    {% endfor %}

                </ul>

                <br>

                {% if user.employee.position.name == "super provider" %}
                    {% if inquiry_state.status.name == "new" %}
                        <!--<a id="connect_via_whatsapp" href="{{ connect_with_customer_whatsapp_link }}" class="btn btn-success" style="background-color: #146fba ;">  </a>-->
                        <a id="make_inq_connect" href="{% url 'make_inq_connecting' inquiry.id %}" >
                            <button id="connect_via_whatsapp_and_make_inq_connect" class="btn btn-primary waves-effect waves-light" >
                                Contact has been made with the client
                            </button>
                        </a>

                        <a href="{{ connect_with_customer_whatsapp_link }}" target="_blank">
                        <button id="connect_via_whatsapp_and_make_inq_connect" class="btn btn-success" >
                            <img height="30px" width="30px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1200px-WhatsApp.svg.png" alt="WhatsApp Icon"> Contact via WhatsApp
                        </button>
                        </a>
                        
                    {% elif inquiry_state.status.name ==  "connecting" %}
                        <a href="{% url 'make_inq_new' inquiry.id %}" class="btn btn-primary" style="background-color: #e81010 ;"> Contact Canceling </a>
                    {% endif %}
                {% endif %}

                <hr>
            
                <h3 style="color:#479d1f;">Inquiry
                    {% if user.employee.position.name == "call center" or user.employee.position.name == "super provider" %}
                        {% if not booking_number and quotations %}
                            <a href="{% url 'make_booking' inquiry.id %}" class="btn btn-primary" style="background-color: #146fba ;"> Booking </a>
                        {% endif %}
                    {% endif %}
                </h3>
            </div>

            <form id="cancel_form" method="post" action="{% url 'make_inq_cancel' inquiry.id %}">
                {% csrf_token %}
                <a id="cancel_button" class="btn btn-dark btn-sm">Cancel</a>
                <div class="col-md-4" id="causes_form" style="max-height: 0; overflow: hidden; transition: max-height 0.5s ease-out;">
                    <label for="cause">Canceling causes:</label>
                    <textarea name="canceling_causes" id="cause" cols="30" rows="5" class="form-control"></textarea>
                    <button type="submit" class="btn btn-dark btn-sm">Confirm Canceling</button>
                </div>
                <!-- Add your JavaScript code here -->
                <script>
                    document.getElementById('cancel_button').addEventListener('click', function() {
                        var causesForm = document.getElementById('causes_form');
                        var cancelButton = document.getElementById('cancel_button');
                        
                        if (causesForm.style.maxHeight === '0px' || causesForm.style.maxHeight === '') {
                            // If the form is hidden, show it
                            causesForm.style.maxHeight = '200px'; // Adjust the max-height value as needed
                            cancelButton.style.display = 'none';
                        } else {
                            // If the form is visible, hide it
                            causesForm.style.maxHeight = '0';
                            cancelButton.style.display = 'block';
                        }
                    });
                </script>
            </form>

            <div id="update1">
                <ul>
                    
                    <h4>inquiry address of: {{ inquiry.address.address_name }} - 
                        {%if inquiry.address.location_url %}
                        <a href="{{ inquiry.address.location_url }}" target="_blank">{{ inquiry.address.location }}</a>
                        {% else %}
                        {{ inquiry.address.location }}
                        {% endif %}
                    </h4>
                    <h6>Date Inq: {{ inquiry.date_inq }}</h6>
                    <h6>Source: {{ inquiry.source }}</h6>
                    <h6>Super Provider: {{ inquiry.sp }}</h6>
                    <h6>Services: {{ inquiry.services.id }} - {{ inquiry.services.name }}</h6>
                    <h6>Description: {{ inquiry.description }}</h6>
                    <h6> Images: </h6>
                    
                    <style>
                        /* Image container */
                        .img-container {
                            display: flex;
                            flex-wrap: wrap;
                        }
                        
                        /* Image style */
                        .img-container img {
                            margin: 5px;
                            cursor: pointer;
                        }
                        
                        /* Modal styles */
                        .modal {
                            display: none;
                            position: fixed;
                            z-index: 1;
                            padding-top: 50px;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            overflow: auto;
                            background-color: rgb(0,0,0);
                            background-color: rgba(0,0,0,0.9);
                        }
                        
                        /* Modal content */
                        .modal-content {
                            margin: auto;
                            display: block;
                            max-width: 80%;
                            max-height: 80%;
                        }
                        
                        /* Close button */
                        .close {
                            position: absolute;
                            top: 15px;
                            right: 35px;
                            color: #fff;
                            font-size: 30px;
                            font-weight: bold;
                            transition: 0.3s;
                            cursor: pointer;
                        }
                        
                        .close:hover,
                        .close:focus {
                            color: #bbb;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    </style>
                    <!-- Image container -->
                    <div class="img-container">
                        {% for image in images %}
                        <img src="{{ image }}" alt="Image" height="150px" onclick="openModal('{{ image }}')">
                        {% endfor %}
                    </div>
                    
                    <!-- Modal -->
                    <div id="myModal" class="modal">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <img class="modal-content" id="img01" style="width: auto; height: 900px;">
                    </div>
                    
                    <script>
                    // Open modal function
                    function openModal(src) {
                        var modal = document.getElementById("myModal");
                        var modalImg = document.getElementById("img01");
                        modal.style.display = "block";
                        modalImg.src = src;
                    }
                    
                    // Close modal function
                    function closeModal() {
                        var modal = document.getElementById("myModal");
                        modal.style.display = "none";
                    }
                    </script>

                    
                </ul>
            </div>
            <ul>
                <form id="image" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-4">
                        <!-- Other form fields -->
                        <input type="file" class="form-control" name="images" accept="image/*" multiple>
                        <button class="btn btn-success" type="submit">Add images</button>
                    </div>
                </form>
            </ul>
            
            <div id="update2">
                <br>
                {% if user.employee.position.name == "super provider" %}
                    <div style="text-align: center;">
                        <a style="text-align: right;" href="{% url 'make_quotation' inquiry.id %}" class="btn btn-secondary">Add Quotations</a>
                    </div>  
                {% elif user.employee.permissions.all %}
                    {% for permission in user.employee.permissions.all %}
                        {% if permission.name == "make quotation" %}
                            <div style="text-align: center;">
                                <a style="text-align: right;" href="{% url 'make_quotation' inquiry.id %}" class="btn btn-secondary">Add Quotations</a>
                            </div>                      
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <br>
                <!-- Add other inquiry details as needed -->

            
            <hr>
            {% if quotations %}
                <h3 style="color:#264f13;">Quotations 
                    {% if quotations and user.employee.position.name == "super provider" %}
                        <a class="btn btn-primary" href="{% url 'edit_quotation' inquiry.id %}">Edit Quotations</a>
                    {% endif %}
                    {% if quotations and user.employee.position.name == "admin" %}
                        <a class="btn btn-primary" href="{% url 'edit_quotation' inquiry.id %}">Edit Quotations</a>
                        <a class="btn btn-primary" href="{% url 'generate_pdf' id=inquiry.id %}" target="_blank">Generate PDF</a>
                    {% endif %}
                    {% for permission in user.employee.permissions.all %}
                        {% if quotations and permission.name == "extract quotations" or user.employee.position.name == "call center" %}
                            <a class="btn btn-primary" href="{% url 'generate_pdf' id=inquiry.id %}" target="_blank">Quotations</a>
                        {% endif %}
                        {% if quotations and permission.name == "edit quotation" %}
                            <a class="btn btn-primary" href="{% url 'edit_quotation' inquiry.id %}">Edit Quotations</a>
                        {% endif %}
                    {% endfor %}
            
                    <a href="{{ whatsapp_link }}" class="btn btn-success"> <img height="30px" width="30px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1200px-WhatsApp.svg.png" alt=""> send via whatsapp</a>
                </h3> 
                    
                    <table class="table">
                        <thead>
                            <tr>
                                {% for column in columns_list %}
                                    <th>{{ column }}</th>
                                {% endfor %}

                                <!-- Add other columns as needed -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for line in data %}
                                <tr>
                                    {% for case in line %}
                                        <td>{{ case }}</td>
                                    {% endfor %}
                                    <!-- Add other columns as needed -->
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if quotations or user.employee.position.name == "admin" or user.employee.position.name == "call center" %}
                        {% if inquiry_state.status.name ==  "send Q or B" %}
                            <a href="{% url 'make_inq_pending' inquiry.id %}" class="btn btn-primary" style="background-color: #146fba ;"> quotation has been sent to the client </a>
                        {% endif %}
                    {% endif %}
            {% endif %}

                <br>
                <!-- Add other inquiry details as needed -->
            {% if booking_number %}
                <hr>
                <h3 style="color:#264f13;">Booking
                    
                    
                {% if user.employee.position.name == "call center" or  user.employee.position.name == "admin" %}
                    <a class="btn btn-primary" href="{% url 'edit_booking' id=inquiry.id %}">Edit Booking</a>
                    <a class="btn btn-primary" href="{% url 'generate_invoice' id=inquiry.id %}" target="_blank">INVOICE PDF</a>
                {% endif %}

                <a href="{{ whatsapp_link_invoice }}" class="btn btn-success"> <img height="30px" width="30px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1200px-WhatsApp.svg.png" alt=""> send via whatsapp</a>
                
                </h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Details</th>
                            <th>Booking Number</th>
                            <th>Booking Date</th>
                            <th>Booking Reminder</th>
                            <!-- Add other columns as needed -->
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>{{ booking_detail }}</td>
                                <td>{{ booking_number }}</td>
                                <td>{{ booking_date }}</td>
                                <td>{{ schedule_date }}</td>
                                <!-- Add other columns as needed -->
                            </tr>
                    </tbody>
                </table>
            {% endif %}

            <br>
            <hr>
            

            
            </div>

            <style>
                #complainFormContainer {
                    display: none;
                    transition: display 0.9s ease-in-out;
                }
            </style>
            <button id="toggleFormBtn" style="background-color: #fc9292;" class="btn btn-white">Complain</button>
            <div id="complainFormContainer">
                <br>
                <h3 style="color:#6f1212;">Complain </h3>
                <ul>
                    <form action="{% url 'make_complain' inquiry.id %}" method="post">
                        {% csrf_token %}
                        <div class="col-md-4">
                            <label for="id_open">Open complain date:</label>
                            <input type="date" id="id_open" value="{{complain.opened|date:'Y-m-d'}}" name="open" class="form-control" placeholder="open..." required>
                        </div>
                        <div class="col-md-4">
                            <label for="id_detail">Problem details:</label>
                            <textarea id="id_detail" name="detail" class="form-control" cols="30" rows="10" placeholder="detail...">{{ complain.detail }}</textarea>
                        </div>
                        <div class="col-md-4">
                            <label for="id_closed">Close complain date:</label>
                            <input type="date" id="id_closed" value="{{complain.closed|date:'Y-m-d'}}" name="closed" class="form-control" placeholder="closed...">
                        </div>
                        <div class="col-md-4">
                            <label for="id_fixe_detail">How fixed details : </label>
                            <textarea id="id_fixe_detail" name="fixe_detail" class="form-control" cols="30" rows="10" placeholder="Fixed details...">{{ complain.fixe_detail }}</textarea>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-danger btn-sm">Make Complain</button>
                    </form>
                </ul>
            </div>
        
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const toggleFormBtn = document.getElementById('toggleFormBtn');
                    const complainFormContainer = document.getElementById('complainFormContainer');
            
                    toggleFormBtn.addEventListener('click', () => {
                        if (complainFormContainer.style.display === 'none') {
                            complainFormContainer.style.display = 'block';
                        } else {
                            complainFormContainer.style.display = 'none';
                        }
                    });
                });
            </script>
            
        </div>

    {% else %}
        <center><h1>Sorry you dont have right to access this page</h1></center>
        <p>{{ permissions_list }}</p>
    {% endif %}


<!-- ######################################################################### -->

        <!-- Content: Start -->
        {% if is_flex %}
        <div class="{{container_class}} d-flex align-items-stretch flex-grow-1 p-0">
        {% else %}
        <div class="{{container_class}} flex-grow-1 container-p-y">
            {% endif %}
            {% block content %}
            {% endblock content %}

        </div>
        <!-- / Content: End -->

        <!--{% if is_footer %}
            Footer: Start 
        {% include "parts/footer.html" %}
            Footer: End 
        {% endif %}-->

        <div class="content-backdrop fade"></div>
        </div>
        <!--/ Content wrapper: End -->
    </div>
    <script>
        // Function to fetch and update content
        function refreshContent() {
            $.ajax({
                url: window.location.href,
                type: 'GET',
                success: function(data) {
                    // Extract the HTML content within the #update element from the response data
                    var updatedContent = $(data).find('#update').html();
                    $('#update').html(updatedContent);
                    var updatedContent1 = $(data).find('#update1').html();
                    $('#update1').html(updatedContent1);
                    var updatedContent2 = $(data).find('#update2').html();
                    $('#update2').html(updatedContent2);
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching content:', error);
                }
            });
        }
        
        // Call the refreshContent function every 10 seconds
        setInterval(refreshContent, 10000); // 10000 milliseconds = 10 seconds
    </script>
    
    <!-- / Layout page: End -->
    </div>

    {% if is_menu %}
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    {% endif %}
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>


</div>

<!-- Layout wrapper: End -->
{% endblock layout %}

