{% extends 'layout/master.html' %}

{% block title %}Make Booking{% endblock %}

{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-wrapper layout-content-navbar {{ is_menu|yesno:',layout-without-menu' }}">
<div class="layout-container">

    {% if is_menu %}
    <!-- Menu: Start -->
    {% include "parts/vertical_menu.html" %}
    <!-- Menu: End -->
    {% endif %}

    <!-- Layout page: Start -->
    <div class="layout-page">


    {% if is_navbar %}
    <!-- Navbar: Start -->
    {% include "parts/navbar.html" %}
    <!-- Navbar: End -->
    {% endif %}

<!-- ######################################################################### -->
    <!-- Content wrapper: Start -->
    <div class="content-wrapper">


        <div class="container">
            <center>
                <h1>Make Booking</h1>
                <br>
                <h4>description</h4>
                <p> {{ inquiry.description }}</p>
            </center>
            <br>

            <form method="post" id="quotationForm" >
                {% csrf_token %}
                <!-- {{ quotation_form }} -->

                <h3>Booking Details</h3>
                <br>
                    <div class="col-md-4">
                        <h6 for="id_quotation-service">Service : {{ service.name }} </h6>
                    </div>
                    <div class="col-md-4">
                        <h6 for="id_quotation-service">Super Provider : {{ sp.name }} </h6>
                    </div>

                <div>
                    <div class="col-md-4">
                        <label for="id_quotation-date" > Booking Date : </label>
                        <input type="date" id="id_quotation-date" value="{{ date|date:'Y-m-d' }}" name="quotation-date" class="form-control" >
                    </div>
                    

                    

                    
                    <br>
                    
                    <div class="col-md-4">
                        <label for="id_booking-details" > Booking Details : </label>
                        <textarea id="id_booking-details"  name="booking-details" class="form-control" ></textarea>
                    </div>

                    <br>
                    <div class="col-md-4">
                        <label for="id_schedule-time" > scheduling next reminder in {{reminder_time}} month : </label>
                        <input type="date" id="id_schedule-time" value="{{ scheduling|date:'Y-m-d' }}" name="schedule-time" class="form-control" >
                    </div>

                    <div class="col-md-4">
                        <label for="id_booking-number" > Booking Number : </label>
                        <input id="id_booking-number" name="booking-number" class="form-control" >
                    </div>


                    <script>
                        function updateTotal(quotationId) {
                            var price = document.getElementById('id_quotation-price-' + quotationId).value;
                            var quantity = document.getElementById('id_quotation-quantity-' + quotationId).value;

                            // Calculate total
                            var total = price * quantity;

                            // Display the total
                            document.getElementById('total-' + quotationId).innerHTML = total.toFixed(2); // You can format the total as needed
                        }

                    </script>

                    <br><br>
                </div>

                <button class="btn btn-success" type="submit">Confirm Booking</button>
            </form>











        </div>
        

<!-- ######################################################################### -->

        <!-- Content: Start -->
        {% if is_flex %}
        <div class="{{container_class}} d-flex align-items-stretch flex-grow-1 p-0">
        {% else %}
        <div class="{{container_class}} flex-grow-1 container-p-y">
            {% endif %}
            {% block content %}

            {% endblock content %}

        </div>
        <!-- / Content: End -->

        <!--{% if is_footer %}
            Footer: Start 
        {% include "parts/footer.html" %}
            Footer: End 
        {% endif %}-->

        <div class="content-backdrop fade"></div>
        </div>
        <!--/ Content wrapper: End -->
    </div>


    <!-- / Layout page: End -->
    </div>

    {% if is_menu %}
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    {% endif %}
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- Layout wrapper: End -->
{% endblock layout %}

