{% load i18n %}
{% load static %}



<nav class="layout-navbar {{container_class}} navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
  {% if not navbar_hide_toggle %}
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
      <i class="mdi mdi-menu mdi-24px"></i>
    </a>
  </div>
  {% endif %}
  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">



    <audio id="notification-sound">
      <source src="{% static 'notification-sound.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element.
      <button id="notificationButton" style="display: none;"></button>
    </audio>

  
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      // Check if there are new notifications (you can customize this based on your logic)
      var hasNewNotifications = true;
      var NotificationsChange = 0;

      document.addEventListener('DOMContentLoaded', function () {
        if (Notification.permission !== 'granted') {
          Notification.requestPermission();
        }
      });
      

      function fetchNotifications() {
        $.get("/get_notifications/", function (data) {
          // Update the UI with new notifications and counter
          updateUI(data.notifications, data.notifications_counter);
    
          // Play notification sound if there are new notifications
          if (data.notifications_counter > 0) {
            if (NotificationsChange != data.notifications_counter ) {
              
              NotificationsChange = data.notifications_counter;
              hasNewNotifications = true;
            }
            $.ajax({
                url: '/get_notify_state/',  // URL for the get_notify_state view
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    // If the notification state is false, play the notification sound
                    if (data.notify_info === false) {
                        console.log(data.notify_info)
                        playNotificationSound();
                        console.log("sound played")
                        

                        $.ajax({
                            url: '/make_employee_notified/',  // URL for the make_employee_notified view
                            type: 'GET',
                            dataType: 'json',
                            success: function(data) {
                                // Handle success response if needed
                                console.log('Employee notified:', data.resp);
                            },
                            error: function(error) {
                                console.error('Error:', error);
                            }
                        });
                    }
                    // Add any other logic based on the response if needed
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });
            updateNotificationCounter(data.notifications_counter);
          }
        });
      }
    
      function updateUI(notifications, notifications_counter) {
        // Clear existing notifications
        $("#notifications-list").empty();
    
        // Add new notifications to the list
        notifications.forEach(function (notification) {
          $("#notifications-list").append("<li>" + notification.message + "</li>");
        });
    
        // Update the counter in the UI
        $("#notifications-counter").html(notifications_counter);
    
        // Show the red notification span if there are new notifications
        if (notifications_counter > 0) {
          $("#notifications-counter").show();
        } else {
          $("#notifications-counter").hide();
        }
      }
    
      function playNotificationSound() {
        if (hasNewNotifications) {
          var audio = document.getElementById('notification-sound');
          audio.play().then(function () {
            // Sound played successfully
            hasNewNotifications = false;
          }).catch(function (error) {
            console.error('Error playing notification sound:', error);
          });
        }
      }
    
      function updateNotificationCounter(newCount) {
        var counterElement = document.getElementById('notifications-counter1');
        counterElement.innerHTML = newCount > 0 ? '(' + newCount + ')' : '';  // Update the counter text
      }
    
      // Fetch notifications every 5 seconds (adjust as needed)
      setInterval(fetchNotifications, 2000);
    
      // Initial fetch on page load
      $(document).ready(function () {
        fetchNotifications();
      });
    </script>
    



    <ul class="navbar-nav flex-row align-items-center ms-auto" id="clickonmer">
      

      <!-- User -->
      <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
          <div class="avatar avatar-online">
            <img src="{% static 'img/avatars/1.png' %}" alt class="w-px-40 h-auto rounded-circle">
            
              <span class="badge bg-danger" id="notifications-counter" style="display: none;">{{ notifications_counter }}</span>
            
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar avatar-online">
                    <img src="{% static 'img/avatars/1.png' %}" alt class="w-px-40 h-auto rounded-circle">
                  </div>
                </div>
                <div class="flex-grow-1">
                  <span class="fw-medium d-block">{{ user.employee.first_name }} {{ user.employee.last_name }}</span>
                  <small class="text-muted">{{ user.employee.position }}</small>
                </div>
              </div>
            </a>
          </li>
          <li>
            <div class="dropdown-divider my-0"></div>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">
              <i class="mdi mdi-account-outline me-1 mdi-20px"></i>
              <span class="align-middle">My Profile</span>
            </a>
          </li>
          <li>
            <li>
              <a class="dropdown-item" href="{% url 'notifications' %}">
                  <i class="mdi mdi-bell-outline me-1 mdi-20px"></i>
                  <span class="align-middle">Notifications <small style="color: brown;" id="notifications-counter1" style="display: none;" >({{ notifications_counter }})</small> </span>
              </a>
          </li>          
            <a class="dropdown-item" href="javascript:void(0);">
              <i class="mdi mdi-cog-outline me-1 mdi-20px"></i>
              <span class="align-middle">Settings</span>
            </a>
          </li>
          <li>
            <div class="dropdown-divider"></div>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'logout' %}">
              <i class="mdi mdi-logout me-1 mdi-20px"></i>
              <span class="align-middle">Log Out</span>
            </a>
          </li>
        </ul>
      </li>
      <!--/ User -->
    </ul>
  </div>
</nav>
