{% load i18n %}
{% load static %}


<nav class="layout-navbar {{container_class}} navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
  {% if not navbar_hide_toggle %}
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
      <i class="mdi mdi-menu mdi-24px"></i>
    </a>
  </div>
  {% endif %}
  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

    <!-- Search -->
    <!--<div class="navbar-nav align-items-center">
      <div class="nav-item d-flex align-items-center">
        <i class="mdi mdi-magnify mdi-24px lh-0"></i>
        <input type="text" class="form-control border-0 shadow-none bg-body" placeholder="Search..." aria-label="Search...">
      </div>
    </div>-->
    <!-- /Search -->

    <ul class="navbar-nav flex-row align-items-center ms-auto">
      

      <!-- User -->
      <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
          <div class="avatar avatar-online">
            <img src="{% static 'img/avatars/1.png' %}" alt class="w-px-40 h-auto rounded-circle">
            {% if notifications %}
              <span class="badge bg-danger">{{ notifications_counter }}</span>
            {% endif %}
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="javascript:void(0);">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar avatar-online">
                    <img src="{% static 'img/avatars/1.png' %}" alt class="w-px-40 h-auto rounded-circle">
                  </div>
                </div>
                <div class="flex-grow-1">
                  <span class="fw-medium d-block">{{ user.employee.first_name }} {{ user.employee.last_name }}</span>
                  <small class="text-muted">{{ user.employee.position }}</small>
                </div>
              </div>
            </a>
          </li>
          <li>
            <div class="dropdown-divider my-0"></div>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);">
              <i class="mdi mdi-account-outline me-1 mdi-20px"></i>
              <span class="align-middle">My Profile</span>
            </a>
          </li>
          <li>
            <li>
              <a class="dropdown-item" href="{% url 'notifications' %}">
                  <i class="mdi mdi-bell-outline me-1 mdi-20px"></i>
                  <span class="align-middle">Notifications {% if notifications %} <small style="color: brown;">({{ notifications_counter }})</small> {% endif %}</span>
              </a>
          </li>          
            <a class="dropdown-item" href="javascript:void(0);">
              <i class="mdi mdi-cog-outline me-1 mdi-20px"></i>
              <span class="align-middle">Settings</span>
            </a>
          </li>
          <li>
            <div class="dropdown-divider"></div>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'logout' %}">
              <i class="mdi mdi-logout me-1 mdi-20px"></i>
              <span class="align-middle">Log Out</span>
            </a>
          </li>
        </ul>
      </li>
      <!--/ User -->
    </ul>
  </div>
</nav>
