<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <!-- ! Hide app brand if navbar-full -->
  {% if not navbar_full %}
  <div class="app-brand demo">
    <a href="{% url 'dashboard' %}" class="app-brand-link">
      <span class="app-brand-logo demo me-1">
        {% include 'partials/logo.html' with bgcolor="#146fba" %}
      </span>
      <span class="app-brand-text demo menu-text fw-semibold ms-2"><center>technical 24 <br> CRM</center></span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="mdi menu-toggle-icon d-xl-block align-middle"></i>
    </a>
  </div>
  {% endif %}


  <div class="menu-inner-shadow"></div>

  
  <ul class="menu-inner py-1">
    {% if user.employee.position.name == 'admin' %}
      <li class="menu-item {% if 'title' == 'crm' or '/crm_page/' in request.path or 'title' == 'analytics' or '/analytics_page/' in request.path or '/dashboard/' in request.path %}active open{% endif %}">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons mdi mdi-home-outline"></i>
          <div class="text-truncate" data-i18n="Dashboards">Dashboards</div>
          <span class="badge bg-danger rounded-pill ms-auto">2</span>
        </a>
        <ul class="menu-sub">
          <li class="menu-item {% if 'crm_page' == request.resolver_match.url_name or title == 'crm' %}active{% endif %}">
            <a href="{% url 'crm_page' %}" class="menu-link" >
              <div class="text-truncate" data-i18n="CRM">CRM</div>
            </a>
          </li>
          <li class="menu-item {% if 'analytics_page' == request.resolver_match.url_name or title == 'analytics' %}active{% endif %}">
            <a href="{% url 'analytics_page' %}" class="menu-link">
              <div class="text-truncate" data-i18n="Analytics">Analytics</div>
            </a>
          </li>
        </ul>
      </li>
    {% endif %}


    {% if user.employee.position.name != 'admin' %}
      <li class="menu-item">
        <a href="{% url 'dashboard' %}" class="menu-link" >
          <i class="menu-icon tf-icons mdi mdi-home-outline"></i>
          
          <div class="text-truncate" data-i18n="Dashboards">Dashboard</div>
        </a>
      </li>
    {% endif %}


    <li class="menu-header fw-medium mt-4">
      <span class="menu-header-text">Forms &amp; Tables</span>
    </li>

        <!-- Tabels -->

    <li class="menu-item {% if '/layouts/' in request.path  %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons mdi mdi-table"></i>
        <div class="text-truncate" data-i18n="Tables">Tables</div>
      </a>

      <!--
        <ul class="menu-sub">
        
        {% if position.name == 'call center' %}
        <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
          <a href="{% url 'customer_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Without menu">Customers</div>
          </a>
        </li>
        {% elif position.name == 'super provider' %}
        <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
          <a href="{% url 'inquiries_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Without menu">Inquiries</div>
          </a>
        </li>
        {% elif position.name == 'team leader' %}
        <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
          <a href="{% url 'inquiries_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Without menu">Inquiries</div>
          </a>
        </li>
        <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
          <a href="{% url 'inquiries_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Without menu">Booking</div>
          </a>
        </li>
        {% elif position.name == 'admin' %}
        <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
          <a href="{% url 'employee_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Without menu">Employee</div>
          </a>
        </li>
        <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
          <a href="{% url 'customer_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Without menu">Customers</div>
          </a>
        </li>
        <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
          <a href="{% url 'inquiries_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Without menu">Inquiries</div>
          </a>
        </li>
        {% endif %}

      </ul>
      -->

      <ul class="menu-sub">
        
        {% if position.name == 'admin' %}
            <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
                <a href="{% url 'employee_list' %}" class="menu-link">
                <div class="text-truncate" data-i18n="Without menu">Employee</div>
                </a>
            </li>
        {% endif %}
        
        <!--    ########## customer list ########          -->
        {% if position.name == 'admin' or position.name == 'call center' or position.name == 'team leader' %}
            <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
                <a href="{% url 'customer_list' %}" class="menu-link">
                    <div class="text-truncate" data-i18n="Without menu">Customers</div>
                </a>
            </li>
        {% elif user.employee.permissions.all %}
          {% for permission in user.employee.permissions.all %}
              {% if permission.name == "customer list" %}
                <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
                  <a href="{% url 'customer_list' %}" class="menu-link">
                      <div class="text-truncate" data-i18n="Without menu">Customers</div>
                  </a>
                </li>
              {% endif %}
          {% endfor %}
        {% endif %}
    
        
        {% if position.name == 'call center' or position.name == 'admin' or position.name == 'super provider' or position.name == 'team leader' %}
            <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
                <a href="{% url 'inquiries_list' %}" class="menu-link">
                  <div class="text-truncate" data-i18n="Without menu">Inquiries</div>
                </a>
            </li>
        {% elif user.employee.permissions.all %}
          {% for permission in user.employee.permissions.all %}
              {% if permission.name == "inquiry list" %}
                <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
                  <a href="{% url 'inquiries_list' %}" class="menu-link">
                    <div class="text-truncate" data-i18n="Without menu">Inquiries</div>
                  </a>
                </li>
              {% endif %}
          {% endfor %}
        {% endif %}

        {% if position.name == 'admin' %}
            <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
                <a href="{% url 'services_list' %}" class="menu-link">
                <div class="text-truncate" data-i18n="Without menu">Services</div>
                </a>
            </li>
            <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
                <a href="{% url 'sp_list' %}" class="menu-link">
                <div class="text-truncate" data-i18n="Without menu">Service Providers</div>
                </a>
            </li>
        {% endif %}

    </ul>

    </li>


    <!-- Form -->
    <li class="menu-item {% if '/forms/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0)" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons mdi mdi-form-select"></i>
        <div class="text-truncate" data-i18n="Form Elements">Form Elements</div>
      </a>
      <ul class="menu-sub">

        {% if position.name == 'admin' %}
          <li class="menu-item {% if '/basic_inputs/' in request.path %}active{% endif %}">
            <a href="{% url 'add_employee' %}" class="menu-link">
              <div class="text-truncate" data-i18n="Basic Inputs">Add Employee</div>
            </a>
          </li>
        {% endif %}

        {% if position.name == 'admin' %}
          <li class="menu-item {% if '/basic_inputs/' in request.path %}active{% endif %}">
            <a href="{% url 'add_service' %}" class="menu-link">
              <div class="text-truncate" data-i18n="Basic Inputs">Add Service</div>
            </a>
          </li>
          <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
            <a href="{% url 'add_sp' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Without menu">Add Service Providers</div>
            </a>
        </li>
        {% endif %}
        
        {% if position.name == 'call center' or position.name == 'admin' %}
          <li class="menu-item {% if '/basic_inputs/' in request.path %}active{% endif %}">
            <a href="{% url 'add_customer' %}" class="menu-link">
              <div class="text-truncate" data-i18n="Basic Inputs">Customer Entery</div>
            </a>
          </li>
        {% elif user.employee.permissions.all %}
          {% for permission in user.employee.permissions.all %}
              {% if permission.name == "add customer" %}
                <li class="menu-item {% if '/basic_inputs/' in request.path %}active{% endif %}">
                  <a href="{% url 'add_customer' %}" class="menu-link">
                    <div class="text-truncate" data-i18n="Basic Inputs">Customer Entery</div>
                  </a>
                </li>
              {% endif %}
          {% endfor %}
        {% endif %}

      </ul>
    </li>


        <!-- documents form -->
        {% if position.name == 'admin' %}
          <li class="menu-item {% if '/forms/' in request.path %}active open{% endif %}">
            <a href="javascript:void(0)" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons mdi mdi-file"></i>


              <div class="text-truncate" data-i18n="Form Elements">Document</div>
            </a>
            <ul class="menu-sub">
      
                <li class="menu-item {% if '/basic_inputs/' in request.path %}active{% endif %}">
                  <a href="{% url 'edit_quotation_doc' %}" class="menu-link">
                    <div class="text-truncate" data-i18n="Basic Inputs">Edit Quotations</div>
                  </a>
                </li>
                <li class="menu-item {% if '/basic_inputs/' in request.path %}active{% endif %}">
                  <a href="{% url 'edit_invoice_doc' %}" class="menu-link">
                    <div class="text-truncate" data-i18n="Basic Inputs">Edit Invoices</div>
                  </a>
                </li>
            
      
            </ul>
          </li>
        {% endif %}

        <!-- Statistics -->
        {% if position.name == 'admin' %}
          <li class="menu-item {% if '/forms/' in request.path %}active open{% endif %}">
            <a href="javascript:void(0)" class="menu-link menu-toggle">
              <i class="menu-icon mdi mdi-chart-bar"></i>


              <div class="text-truncate" data-i18n="Form Elements">Statistics</div>
            </a>
            <ul class="menu-sub">
      
                <li class="menu-item {% if '/basic_inputs/' in request.path %}active{% endif %}">
                  <a href="{% url 'statistics' %}" class="menu-link">
                    <div class="text-truncate" data-i18n="Basic Inputs">Inquiries</div>
                  </a>
                </li>

            
      
            </ul>
          </li>
        {% endif %}

        
        <li class="menu-header fw-medium mt-4">
          <span class="menu-header-text">Apps &amp; Pages</span>
        </li>
        
          <!-- chat -->
          <li class="menu-item {% if '/basic_inputs/' in request.path %}active{% endif %}">
            <a href="{% url 'chat_page' %}" class="menu-link">
              <i class="menu-icon tf-icons mdi mdi-message-outline"></i>
              <div class="text-truncate" data-i18n="Basic Inputs">Chat</div>
            </a>
          </li>

          <!-- chat groups -->
          <li class="menu-item {% if '/basic_inputs/' in request.path %}active{% endif %}">
            <a href="{% url 'groups_page' %}" class="menu-link">
              <i class="menu-icon tf-icons mdi mdi-account-group"></i>

              <div class="text-truncate" data-i18n="Basic Inputs">Groups</div>
            </a>
          </li>
          
          <!-- map -->
          <li class="menu-item {% if '/basic_inputs/' in request.path %}active{% endif %}">
            <a href="{% url 'map' %}" class="menu-link">
              <i class="menu-icon tf-icons mdi mdi-map-outline"></i>
              <div class="text-truncate" data-i18n="Basic Inputs">Map</div>
            </a>
          </li> 
  
    

  </ul>


</aside>
