<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <!-- ! Hide app brand if navbar-full -->
  {% if not navbar_full %}
  <div class="app-brand demo">
    <a href="{% url 'dashboard' %}" class="app-brand-link">
      <span class="app-brand-logo demo me-1">
        {% include 'partials/logo.html' with bgcolor="#9055FD" %}
      </span>
      <span class="app-brand-text demo menu-text fw-semibold ms-2">CRM</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="mdi menu-toggle-icon d-xl-block align-middle"></i>
    </a>
  </div>
  {% endif %}


  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">

    <li class="menu-item">
      <a href="{% url 'dashboard' %}" class="menu-link" >
        <i class="menu-icon tf-icons mdi mdi-home-outline"></i>
        <div class="text-truncate" data-i18n="Dashboards">Dashboard</div>
      </a>
    </li>


    <li class="menu-header fw-medium mt-4">
      <span class="menu-header-text">Forms &amp; Tables</span>
    </li>

        <!-- Tabels -->

    <li class="menu-item {% if '/layouts/' in request.path  %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons mdi mdi-table"></i>
        <div class="text-truncate" data-i18n="Tables">Tables</div>
      </a>

      <ul class="menu-sub">
        
        {% if position.name == 'call center' %}
        <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
          <a href="{% url 'customer_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Without menu">Customers</div>
          </a>
        </li>
        {% elif position.name == 'super provider' %}
        <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
          <a href="{% url 'inquiries_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Without menu">Inquiries</div>
          </a>
        </li>
        {% elif position.name == 'admin' %}
        <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
          <a href="{% url 'employee_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Without menu">Employee</div>
          </a>
        </li>
        <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
          <a href="{% url 'customer_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Without menu">Customers</div>
          </a>
        </li>
        <li class="menu-item {% if '/without_menu/' in request.path %}active{% endif %}">
          <a href="{% url 'inquiries_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Without menu">Inquiries</div>
          </a>
        </li>
        {% endif %}

      </ul>

    </li>


    <!-- Form -->
    <li class="menu-item {% if '/forms/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0)" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons mdi mdi-form-select"></i>
        <div class="text-truncate" data-i18n="Form Elements">Form Elements</div>
      </a>
      <ul class="menu-sub">

        {% if position.name == 'admin' %}
          <li class="menu-item {% if '/basic_inputs/' in request.path %}active{% endif %}">
            <a href="{% url 'add_employee' %}" class="menu-link">
              <div class="text-truncate" data-i18n="Basic Inputs">Add Employee</div>
            </a>
          </li>
        {% endif %}
        
        {% if position.name == 'call center' or position.name == 'admin' %}
          <li class="menu-item {% if '/basic_inputs/' in request.path %}active{% endif %}">
            <a href="{% url 'add_customer' %}" class="menu-link">
              <div class="text-truncate" data-i18n="Basic Inputs">Customer Entery</div>
            </a>
          </li>
        {% endif %}

      </ul>
    </li>


  </ul>


</aside>
