{% extends 'layout/master.html' %}

{% block title %}Point Information{% endblock %}

{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-wrapper layout-content-navbar {{ is_menu|yesno:',layout-without-menu' }}">
<div class="layout-container">

    {% if is_menu %}
    <!-- Menu: Start -->
    {% include "parts/vertical_menu.html" %}
    <!-- Menu: End -->
    {% endif %}

    <!-- Layout page: Start -->
    <div class="layout-page">


    {% if is_navbar %}
    <!-- Navbar: Start -->
    {% include "parts/navbar.html" %}
    <!-- Navbar: End -->
    {% endif %}

<!-- ######################################################################### -->
    <!-- Content wrapper: Start -->
    <div class="content-wrapper">

        <br>
        <div class="container">
            <br>
            <center><h2>Point Information</h2></center>
            <br>
            <h3>Customer Details</h3>
            <br><br>
            <p><span style="font-weight: bold; font-size: 1.17em;">First Name:</span> {{ point.first_name }}</p>
            <br>
            <p><span style="font-weight: bold; font-size: 1.17em;">Last Name:</span> {{ point.last_name }}</p>
            <br>
            <p><span style="font-weight: bold; font-size: 1.17em;">Phone Number:</span> {{ point.number }}</p>
            <br>
            <p><span style="font-weight: bold; font-size: 1.17em;">Description:</span> {{ point.description }}</p>
            <br>
            <p><span style="font-weight: bold; font-size: 1.17em;">Gender:</span> {{ point.gender }}</p>
            <br>
            <p><span style="font-weight: bold; font-size: 1.17em;">Nationality:</span> {{ point.nationality }}</p>
            <br>
            <p><span style="font-weight: bold; font-size: 1.17em;">Approvement:</span> 
                {% if point.approved == 'T' %}
                    ✔️
                {% elif point.approved == 'F' %}
                    ❌
                {% else %}
                    🕒
                {% endif %}
            </p>
            <br>
            {% if point.canceling_causes %}
                <p><span style="font-weight: bold; font-size: 1.17em;">Causes:</span> {{ point.canceling_causes }}</p>
                <br>
            {% endif %}
            <!-- Add other customer details as needed -->
            <hr>
            <a style="text-align: right;" href="" class="btn btn-primary">Edit Point</a>
        </div>
        



<!-- ######################################################################### -->

        <!-- Content: Start -->
        {% if is_flex %}
        <div class="{{container_class}} d-flex align-items-stretch flex-grow-1 p-0">
        {% else %}
        <div class="{{container_class}} flex-grow-1 container-p-y">
            {% endif %}
            {% block content %}
            {% endblock content %}

        </div>
        <!-- / Content: End -->

        <!--{% if is_footer %}
            Footer: Start 
        {% include "parts/footer.html" %}
            Footer: End 
        {% endif %}-->

        <div class="content-backdrop fade"></div>
        </div>
        <!--/ Content wrapper: End -->
    </div>
    <!-- / Layout page: End -->
    </div>

    {% if is_menu %}
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    {% endif %}
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- Layout wrapper: End -->
{% endblock layout %}
