{% load static %}
<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed {{content_layout_class}}" data-assets-path="{% static '/' %}" data-base-url="{{url}}" data-framework="django" data-template="vertical-menu-free">

  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
    <script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
    <link href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css">
    <script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- Import jQuery -->

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link href="https://cdn.jsdelivr.net/npm/apexcharts/dist/apexcharts.min.css" rel="stylesheet">

    <!-- Canonical SEO -->
    <link rel="canonical" href="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon/favicon.ico' %}" />

    <!-- Include the styles partial -->
    {% include "./partials/styles.html" %}

    {% block vendor_css %}{% endblock vendor_css %}

    <!--Page CSS-->
    {% block page_css %}{% endblock page_css %}


    <!-- Include the scripts partial (required ) -->
    {% include "./partials/scripts_includes.html" %}

  </head>

  <body>
    
    <!-- beautify ignore:end -->

    
    {% block layout %}
    {% endblock layout %}

    {% include "./partials/scripts.html" %}

    <!--Vendors Javascript-->
    {% block vendor_js %} {% endblock vendor_js %}

    <!--Page Javascript-->
    {% block page_js %} {% endblock page_js %}

    
      <!-- Initial content -->
      <!-- This content will be replaced with new content every 10 seconds -->


  <!--
  <script>
      // Function to fetch and update content
      function refreshContent() {
          $.ajax({
              url: window.location.href,
              type: 'GET',
              success: function(data) {
                  // Update the content on the page
                  $('#content').replaceWith(data);
              },
              error: function(xhr, status, error) {
                  console.error('Error fetching content:', error);
              }
          });
      }

      // Call the refreshContent function every 10 seconds
      setInterval(refreshContent, 10000); // 10000 milliseconds = 10 seconds
  </script>
  -->




  </body>
</html>