{% extends 'layout/master.html' %}

{% block title %}Statistics of Inquiries{% endblock %}

{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-wrapper layout-content-navbar {{ is_menu|yesno:',layout-without-menu' }}">
<div class="layout-container">

    {% if is_menu %}
    <!-- Menu: Start -->
    {% include "parts/vertical_menu.html" %}
    <!-- Menu: End -->
    {% endif %}

    <!-- Layout page: Start -->
    <div class="layout-page">


    {% if is_navbar %}
    <!-- Navbar: Start -->
    {% include "parts/navbar.html" %}
    <!-- Navbar: End -->
    {% endif %}

<!-- ######################################################################### -->
    <!-- Content wrapper: Start -->
    <div class="content-wrapper">

        

        <style>
            /* Optional: Add custom CSS styles here */
            .container {
                max-width: 800px; /* Adjust max-width as needed */
                margin: 0 auto; /* Center the container */
                padding: 20px;
            }
            canvas {
                width: 100%;
                height: auto;
            }
        </style>

        <br>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <div class="container">

            <form action="" method="get">

                <div class="row">
    
                    <div class="col-md-2">
                        <label for="">status : </label>
                        <select name="status"  class="form-control">
                            <option value="" selected>State</option>
                            {% for state in states %}
    
                                {% if state.id == search_str.status %}
                                    <option value="{{state.id}}" selected>{{state}}</option>
                                {% else %}
                                    <option value="{{state.id}}">{{state}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
    
                    <div class="col-md-2">
                        <label for="">start date : </label>
                        <input type="date" value="{{request.GET.start}}" name="start"  class="form-control" required>
                    </div>
                    
                
                    <div class="col-md-2">
                        <label for="">finish date : </label>
                        <input type="date" value="{{request.GET.finish}}" name="finish"  class="form-control" required>
                    </div>
    
                    <div class="col-md-2">
                        <label for="">service : </label>
                        <select name="service"  class="form-control">
                            <option value="" selected>Service</option>
                            {% for service in services %}
                                {% if service.id == search_str.service %}
                                    <option value="{{service.id}}" selected>{{service}}</option>
                                {% else %}
                                    <option value="{{service.id}}">{{service}}</option>
                                {% endif %}                            
                            {% endfor %}
                        </select>
                    </div>
    
                    <div class="col-md-2">
                        <label for="">SP : </label>
                        <select name="sp"  class="form-control">
                            <option value="" selected>Service Provider</option>
                            {% for serviceProvider in service_providers %}
                                {% if serviceProvider.id == search_str.sp %}
                                    <option value="{{serviceProvider.id}}" selected>{{serviceProvider}}</option>
                                {% else %}
                                    <option value="{{serviceProvider.id}}">{{serviceProvider}}</option>
                                {% endif %}                            
                            {% endfor %}
                        </select>
                    </div>
    
                </div>
                
                <center>
                    <div class="col-md-2">
                        <br>
                        <button type="submit"  class="form-control">search</button>
                        <br>
                    </div>
                </center>
    
            </form>

            <br>
            <center><h2>Inquiries counter</h2></center>
            <br>
            <canvas id="inquiryChart" width="400" height="200"></canvas>
            <script>
                var ctx = document.getElementById('inquiryChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: {{ dates|safe }},
                        datasets: [{
                            label: 'Number of Inquiries in last 30 day',
                            data: {{ counts|safe }},
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            </script>
            <br><br><br>
            <hr>
            
            <center><h2>Number of Inquiries for each service in date</h2></center>
            <br>
            <canvas id="serviceBars" width="400" height="200"></canvas>
            <script>
                var ctx = document.getElementById('serviceBars').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: {{ services_list|safe }},
                        datasets: [{
                            label: 'Number of Inquiries for each service',
                            data: {{ services_counts|safe }},
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            </script>

            <br><br><br>
            <hr>
            <center><h2>Services Counter in Last 30 Days</h2></center>
            <br>
            <canvas id="serviceChart" width="800" height="400"></canvas>
            <script>
                var serviceColors = JSON.parse('{{ service_colors_json|escapejs }}');
                
                var ctx = document.getElementById('serviceChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: {{ dates|safe }},
                        datasets: [
                        {% for service, counts in service_counts.items %}
                            {
                                label: 'Number of Inquiries for {{ service }} service in last 30 days',
                                data: {{ counts|safe }},
                                backgroundColor: 'rgba(' + serviceColors[ '{{service}}' ] + ', 0.2)',
                                borderColor: 'rgba(' + serviceColors[ '{{service}}' ] + ', 1)',
                                borderWidth: 1
                            },
                        {% endfor %}

                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            </script>

        </div>


<!-- ######################################################################### -->

        <!-- Content: Start -->
        {% if is_flex %}
        <div class="{{container_class}} d-flex align-items-stretch flex-grow-1 p-0">
        {% else %}
        <div class="{{container_class}} flex-grow-1 container-p-y">
            {% endif %}
            {% block content %}
            {% endblock content %}

        </div>
        <!-- / Content: End -->

        <!--{% if is_footer %}
            Footer: Start 
        {% include "parts/footer.html" %}
            Footer: End 
        {% endif %}-->

        <div class="content-backdrop fade"></div>
        </div>
        <!--/ Content wrapper: End -->
    </div>
    <!-- / Layout page: End -->
    </div>

    {% if is_menu %}
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    {% endif %}
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- Layout wrapper: End -->
{% endblock layout %}
