{% extends 'layout/master.html' %}
{% load static %}

{% block title %}Calendar{% endblock %}

{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-wrapper layout-content-navbar {{ is_menu|yesno:',layout-without-menu' }}">
<div class="layout-container">

    {% if is_menu %}
    <!-- Menu: Start -->
    {% include "parts/vertical_menu.html" %}
    <!-- Menu: End -->
    {% endif %}

    <!-- Layout page: Start -->
    <div class="layout-page">


    {% if is_navbar %}
    <!-- Navbar: Start -->
    {% include "parts/navbar.html" %}
    <!-- Navbar: End -->
    {% endif %}

<!-- ######################################################################### -->
    <!-- Content wrapper: Start -->
    <div class="content-wrapper">

        <div class="container">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
            <style>

                .jumbotron {
                    background: #fff;
                }
                .fa {
                    font-size: 0.5em;
                }
                table {
                    width: 100%;
                }
                th {
                    text-align: center;
                }
                td {
                    width: 120px;
                    height: 100px;
                    text-align: center;
                    line-height: 100px !important;
                    font-size: 1.5em;
                }
                td, #year {
                    font-family: monospace;
                }
                .hover {
                    background: #eee;
                }

                #about a {
                    text-decoration: none;
                }

                .reminder-day {
                    background-color: yellow; /* Par exemple, mettez le fond en jaune */
                    cursor: pointer;
                }
                .reminder-square {
                    font-size: smaller; /* Par exemple, mettez le fond en jaune */
                }
            </style>

            <div class="container" id="main">
                <div class="jumbotron">
                    <h1 class="text-center">
                        <a id="left" href="#"><i class="fa fa-chevron-left"></i></a>
                        <span>&nbsp;</span>
                        <span id="month"></span>
                        <span>&nbsp;</span>
                        <span id="year"></span>
                        <span>&nbsp;</span>
                        <a id="right" href="#"><i class="fa fa-chevron-right"></i></a>
                    </h1>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <table class="table"></table>
                    </div>
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

            <script>
                $(document).ready(function () {
                    var currentDate = new Date();
                    function generateCalendar(d) {
                        function monthDays(month, year) {
                            var result = [];
                            var days = new Date(year, month + 1, 0).getDate();  // Changed month to month + 1
                            for (var i = 1; i <= days; i++) {
                                result.push(i);
                            }
                            return result;
                        }
                        Date.prototype.monthDays = function () {
                            var d = new Date(this.getFullYear(), this.getMonth() + 1, 0);
                            return d.getDate();
                        };
                        var details = {
                            totalDays: d.monthDays(),
                            weekDays: [
                                "Sunday",
                                "Monday",
                                "Tuesday",
                                "Wednesday",
                                "Thursday",
                                "Friday",
                                "Saturday"
                            ],
                            months: [
                                "January",
                                "February",
                                "March",
                                "April",
                                "May",
                                "June",
                                "July",
                                "August",
                                "September",
                                "October",
                                "November",
                                "December"
                            ]
                        };
                        var start = new Date(d.getFullYear(), d.getMonth(), 1).getDay();  // Added day 1
                        var cal = [];
                        var day = 1;
                        for (var i = 0; i <= 6; i++) {
                            cal.push(["<tr>"]);
                            for (var j = 0; j < 7; j++) {
                                if (i === 0) {
                                    cal[i].push("<td>" + details.weekDays[j] + "</td>");
                                } else if (day > details.totalDays) {
                                    cal[i].push("<td>&nbsp;</td>");
                                } else {
                                    if (i === 1 && j < start) {
                                        cal[i].push("<td>&nbsp;</td>");
                                    } else {
                                        cal[i].push('<td class="day">' + day++ + "</td>");
                                    }
                                }
                            }
                            cal[i].push("</tr>");
                        }
                        cal = cal
                            .reduce(function (a, b) {
                                return a.concat(b);
                            }, [])
                            .join("");
                        $("table").html(cal);  // Changed from append to html
                        $("#month").text(details.months[d.getMonth()]);
                        $("#year").text(d.getFullYear());
                        $("td.day")
                            .mouseover(function () {
                                $(this).addClass("hover");
                            })
                            .mouseout(function () {
                                $(this).removeClass("hover");
                            });
                    }
                    $("#left").click(function () {
                        $("table").html("");
                        if (currentDate.getMonth() === 0) {
                            currentDate = new Date(currentDate.getFullYear() - 1, 11);
                            generateCalendar(currentDate);
                        } else {
                            currentDate = new Date(
                                currentDate.getFullYear(),
                                currentDate.getMonth() - 1
                            );
                            generateCalendar(currentDate);
                        }
                    });
                    $("#right").click(function () {
                        $("table").html("");
                        if (currentDate.getMonth() === 11) {
                            currentDate = new Date(currentDate.getFullYear() + 1, 0);
                            generateCalendar(currentDate);
                        } else {
                            currentDate = new Date(
                                currentDate.getFullYear(),
                                currentDate.getMonth() + 1
                            );
                            generateCalendar(currentDate);
                        }
                    });
                    generateCalendar(currentDate);
                });
            </script>

            <script>
                // Mapping of month names to their numeric representations
                var monthMap = {
                    "January": 1,
                    "February": 2,
                    "March": 3,
                    "April": 4,
                    "May": 5,
                    "June": 6,
                    "July": 7,
                    "August": 8,
                    "September": 9,
                    "October": 10,
                    "November": 11,
                    "December": 12
                };

                // Function to convert month string to number
                function monthStringToNumber(monthStr) {
                    return monthMap[monthStr];
                }

                /*$(document).ready(function () {
                    var datesWithReminders = {{ dates_json|safe }};
                    console.log(datesWithReminders);

                    $(".day").each(function() {
                        var day = parseInt($(this).text());
                        var month = $("#month").text();
                        var year = $("#year").text();
                        var dateStr = year + "-" + ("0" + monthStringToNumber(month)).slice(-2) + "-" + ("0" + day).slice(-2);


                        // Debugging: Check the generated date string
                        console.log(dateStr);

                        if (datesWithReminders.includes(dateStr)) {
                            $(this).addClass("reminder-day");
                        }
                    });
                });*/


                // Function to apply reminders to the calendar based on the current month
                function applyReminders() {
                    var datesWithReminders = {{ dates_json|safe }};
                    console.log(datesWithReminders);

                    // Declare empty arrays
                    var dates = [];
                    var reminderCounts = [];
                    var allIds = [];


                    datesWithReminders.forEach(function(dateObj) {
                        var dateStr = dateObj.date;
                        var reminderCount = dateObj.count;
                        var ids = dateObj.ids;

                        dates.push(dateStr);
                        reminderCounts.push(reminderCount);
                        allIds.push(ids);
                        });

                        console.log(dates);
                        console.log(reminderCounts);
                        console.log(allIds);

                    $(".day").each(function() {
                        var day = parseInt($(this).text());
                        var month = $("#month").text();
                        var year = $("#year").text();
                        var dateStr = year + "-" + ("0" + monthStringToNumber(month)).slice(-2) + "-" + ("0" + day).slice(-2);

                        // Debugging: Check the generated date string
                        console.log(dateStr);

                        if (dates.includes(dateStr)) {
                            // Find the day cell corresponding to the date
                            var dayCell = $(".day").filter(function() {
                                return $(this).text() === dateStr.split('-')[2];
                            });
                            dayCell.addClass("reminder-day");

                            var indexOfDateX = dates.indexOf(dateStr);

                            console.log("index : ",indexOfDateX)
                            console.log("count : ",reminderCounts[indexOfDateX])

                            var reminderSquare = $('<span class="reminder-square">(' + reminderCounts[indexOfDateX] + ')</span>');

                            dayCell.append(reminderSquare);

                            $(this).on('click', function() {
                                // Extract IDs associated with this day
                                var ids = datesWithReminders.find(function(dateObj) {
                                    return dateObj.date === dateStr;
                                }).ids;

                                // Construct URL
                                if (dateStr) {
                                    var url =  dateStr ;

                                    // Navigate to URL
                                    window.location.href = url;
                                }
                                    
                                

                                
                            });

                            
                        }
                    });
                }

                

                $(document).ready(function () {
                    // Call the function initially
                    applyReminders();

                    $("#left, #right").click(function () {
                    
                        // Apply reminders to the new month
                        applyReminders();
                    });
                });



            </script>

            

        </div>



<!-- ######################################################################### -->

        <!-- Content: Start -->
        {% if is_flex %}
        <div class="{{container_class}} d-flex align-items-stretch flex-grow-1 p-0">
        {% else %}
        <div class="{{container_class}} flex-grow-1 container-p-y">
            {% endif %}
            {% block content %}
            {% endblock content %}

        </div>
        <!-- / Content: End -->

        <!--{% if is_footer %}
            Footer: Start 
        {% include "parts/footer.html" %}
            Footer: End 
        {% endif %}-->

        <div class="content-backdrop fade"></div>
        </div>
        <!--/ Content wrapper: End -->
    </div>
    <!-- / Layout page: End -->
    </div>

    {% if is_menu %}
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    {% endif %}
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- Layout wrapper: End -->
{% endblock layout %}
