{% extends 'layout/master.html' %}

{% block title %}Customer List{% endblock %}

{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-wrapper layout-content-navbar {{ is_menu|yesno:',layout-without-menu' }}">
<div class="layout-container">

    {% if is_menu %}
    <!-- Menu: Start -->
    {% include "parts/vertical_menu.html" %}
    <!-- Menu: End -->
    {% endif %}

    <!-- Layout page: Start -->
    <div class="layout-page">


    {% if is_navbar %}
    <!-- Navbar: Start -->
    {% include "parts/navbar.html" %}
    <!-- Navbar: End -->
    {% endif %}

<!-- ######################################################################### -->
    <!-- Content wrapper: Start -->
    <div class="content-wrapper">

        <div class="container">

            <center><h2>Customer List</h2></center>
            <br>


            <!-- Display dynamic search form with language dropdown -->
            <form method="get" action="{% url 'customer_list' %}" id="search-form" class="row g-3">


                <div class="col-md-2">
                    <label for="id_id">ID:</label>
                    <input type="text" id="id_id" name="id" class="form-control" value="{{ id_query }}" placeholder="ID..." aria-label="ID">
                </div>

                <div class="col-md-2">
                    <label for="id_name">Name:</label>
                    <input type="text" id="id_name" name="name" class="form-control" value="{{ name_query }}" placeholder="Name..." aria-label="Name">
                </div>

                <div class="col-md-2">
                    <label for="id_trn" >TRN :</label>
                    <input type="text" id="id_trn" name="trn" class="form-control" value="{{ trn_query }}" placeholder="TRN..." aria-label="TRN">
                </div>

                <div class="col-md-2">
                    <label for="id_phone">Phone :</label>
                    <input type="text" id="id_phone" name="number" class="form-control" value="{{ number_query }}" placeholder="Phone Number..." aria-label="Phone Number">
                </div>

                <div class="col-md-2">
                    <label for="id_date">Register date :</label>
                    <input type="date" id="id_date" name="date" class="form-control" value="{{ date_query }}" >
                    
                </div>

                <div class="col-md-2">
                    <label for="id_addr_name">address name :</label>
                    <input type="text" id="id_addr_name" name="add_name" class="form-control" value="{{ add_name_query }}" placeholder="Address Name..." aria-label="Address Name" >
                    
                </div>



                <!--<div class="col-md-2">
                    <label for="id_email">Email :</label>
                    <input type="text" id="id_email" name="email" class="form-control" value="{{ email_query }}" placeholder="Email..." aria-label="Email">
                </div>-->

                <div class="col-md-2">
                    <label for="id_language">Language:</label>
                    <select id="id_language" name="language" class="form-control">
                        {% if language_query %}
                            <option value="{{ language_query }}" selected >{{ language_query }}</option>
                        {% else %}
                            <option value="" selected >Select Language...</option>
                        {% endif %}
                        
                        {% for language in languages %}
                            <option value="{{ language }}">{{ language }}</option>
                        {% endfor %}
                        <!-- <option value="arabic">Arabic</option>
                        <option value="french">French</option>
                        <option value="english">English</option> -->
                    </select>
                </div>

                <div class="col-md-2">
                    <label for="id_nat">Nationality:</label>
                    <select id="id_nat" name="nationality" class="form-control">
                        {% if nationality_query %}
                            <option value="{{ nationality_query }}" selected >{{ nationality_query }}</option>
                        {% else %}
                            <option value="" selected >Select Nationality...</option>
                        {% endif %}
                        
                        {% for nat in nationality %}
                            <option value="{{ nat }}">{{ nat }}</option>
                        {% endfor %}
                        <!-- <option value="arabic">Arabic</option>
                        <option value="french">French</option>
                        <option value="english">English</option> -->
                    </select>
                </div>

                <div class="col-md-2">
                    <label for="id_source">Source :</label>
                    <select id="id_source" name="source" class="form-control">
                        {% if source_query %}
                            <option value="{{ source_query }}" selected >{{ source_query }}</option>
                        {% else %}
                            <option value="" selected >Select Source...</option>
                        {% endif %}
                        
                        {% for src in sources %}
                            <option value="{{ src }}">{{ src }}</option>
                        {% endfor %}
                        <!-- <option value="arabic">Arabic</option>
                        <option value="french">French</option>
                        <option value="english">English</option> -->
                    </select>
                </div>


                <div class="col-12 mt-3">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>

            <!-- Table to display customer information -->
            <table class="table">
                <thead>
                    <tr>

                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Nationality</th>
                        <th>Registration Date</th>
                        <th>Language</th>
                        <th>Source</th>
                        <th>TRN</th>
                        <th>Email</th>
                        <th>Phone Number</th>

                        <!-- Add other columns as needed -->
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                        <tr>
                            <td>{{ customer.info.id }}</td>
                            <td> <a href="{% url 'customer_info' customer.info.id %}">{{ customer.info.first_name }}</a></td>
                            <td>{{ customer.info.last_name }}</td>
                            <td>{{ customer.info.gender }}</td>
                            <td>{{ customer.info.nationality }}</td>
                            <td>{{ customer.info.register }}</td>
                            <td>{{ customer.info.language }}</td>
                            <td>{{ customer.info.source }}</td>
                            <td>{{ customer.info.trn }}</td>
                            <td>{{ customer.email.email }}</td>
                            <td>{{ customer.number.number }}</td>

                            <!-- Add other columns as needed -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
<!-- ######################################################################### -->

        <!-- Content: Start -->
        {% if is_flex %}
        <div class="{{container_class}} d-flex align-items-stretch flex-grow-1 p-0">
        {% else %}
        <div class="{{container_class}} flex-grow-1 container-p-y">
            {% endif %}
            {% block content %}
            {% endblock content %}

        </div>
        <!-- / Content: End -->

        <!--{% if is_footer %}
            Footer: Start 
        {% include "parts/footer.html" %}
            Footer: End 
        {% endif %}-->

        <div class="content-backdrop fade"></div>
        </div>
        <!--/ Content wrapper: End -->
    </div>
    <!-- / Layout page: End -->
    </div>

    {% if is_menu %}
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    {% endif %}
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- Layout wrapper: End -->
{% endblock layout %}
