{% extends 'layout/master.html' %}

{% block title %}Dashboard{% endblock %}

{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-wrapper layout-content-navbar {{ is_menu|yesno:',layout-without-menu' }}">
<div class="layout-container">

    {% if is_menu %}
    <!-- Menu: Start -->
    {% include "parts/vertical_menu.html" %}
    <!-- Menu: End -->
    {% endif %}

    <!-- Layout page: Start -->
    <div class="layout-page">


    {% if is_navbar %}
    <!-- Navbar: Start -->
    {% include "parts/navbar.html" %}
    <!-- Navbar: End -->
    {% endif %}

<!-- ######################################################################### -->
    <!-- Content wrapper: Start -->
    <div id="update" class="content-wrapper">

        <div class="container">
            <br>
            <center><h2>Welcome to the Dashboard!</h2></center>
            <br>
            
            <!-- Display user information if available -->
            {% if user.is_authenticated %}
            <h4>Hello, {{ user.employee.first_name }} {{ user.employee.last_name }}!</h4>
            <h4>Email: {{ user.employee.email }}</h4>
            <h4>Phone Number: {{ user.employee.phone_number }}</h4>
            <h4>Position: {{ user.employee.position }} {% if user.employee.position.name == "super provider" %}<small>({{ user.employee.sp }})</small>{% endif %}</h4>

            <br><br>
    
            <h2>Last History</h2>
            <ul>
                {% for action in actions %}
                    <li><h6>i maked {{ action.status.name }} action to <a href="{% url 'inquiry_info' action.inquiry.id %}">{{ action.inquiry.address }}</a> </h6> </li>
                {% endfor %}
            </ul>


            {% else %}
            <p>You are not logged in.</p>
            {% endif %}
        </div>

        <!-- Content: Start -->
        {% if is_flex %}
        <div class="{{container_class}} d-flex align-items-stretch flex-grow-1 p-0">
        {% else %}
        <div class="{{container_class}} flex-grow-1 container-p-y">
            {% endif %}
            {% block content %}
            {% endblock content %}

        </div>
        <!-- / Content: End -->

        <!--{% if is_footer %}
            Footer: Start 
        {% include "parts/footer.html" %}
            Footer: End 
        {% endif %}-->

        <div class="content-backdrop fade"></div>
        </div>
        <!--/ Content wrapper: End -->
    </div>
    <script>
        // Function to fetch and update content
        function refreshContent() {
            $.ajax({
                url: window.location.href,
                type: 'GET',
                success: function(data) {
                    // Extract the HTML content within the #update element from the response data
                    var updatedContent = $(data).find('#update').html();
                    console.log(updatedContent)
                    
                    // Replace the content within the #update element with the updated content
                    $('#update').html(updatedContent);
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching content:', error);
                }
            });
        }
        
        // Call the refreshContent function every 10 seconds
        setInterval(refreshContent, 10000); // 10000 milliseconds = 10 seconds
    </script>
    <!-- / Layout page: End -->
    </div>

    {% if is_menu %}
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    {% endif %}
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- Layout wrapper: End -->
{% endblock layout %}
