{% extends 'layout/master.html' %}

{% block title %}Edit customer{% endblock %}

{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-wrapper layout-content-navbar {{ is_menu|yesno:',layout-without-menu' }}">
<div class="layout-container">

    {% if is_menu %}
    <!-- Menu: Start -->
    {% include "parts/vertical_menu.html" %}
    <!-- Menu: End -->
    {% endif %}

    <!-- Layout page: Start -->
    <div class="layout-page">


    {% if is_navbar %}
    <!-- Navbar: Start -->
    {% include "parts/navbar.html" %}
    <!-- Navbar: End -->
    {% endif %}

<!-- ######################################################################### -->
    <!-- Content wrapper: Start -->
    <div class="content-wrapper">

        <div class="container">
            <br>
            <center><h2>Edit Customer</h2></center>
            <br>
    
            <form method="post" id="customerForm" action="{% url 'edit_customer' customer.id %}">
                {% csrf_token %}
                <!-- {{ customer_form.as_p }} -->

                <h3>Customer Details</h3>
                <div>
                    {% if customer %}
                        <div class="col-md-4">
                            <label for="id_customer-first_name" > First name : </label>
                            <input type="text" id="id_customer-first_name" name="customer-first_name" class="form-control" value="{{ customer.first_name }}" placeholder="First name..." aria-label="First name">
                        </div>
                        <div class="col-md-4">
                            <label for="id_customer-last_name" > Last name : </label>
                            <input type="text" id="id_customer-last_name" name="customer-last_name" value="{{ customer.last_name }}" class="form-control" placeholder="First name..." aria-label="First name">
                        </div>
                        <div class="col-md-4">
                            <label for="id_customer-gender">Gender :</label>
                            <select id="id_customer-gender" name="customer-gender" class="form-control">
                                    <option value="{{ customer.gender }}" selected>{{ customer.gender }}</option>
                                    {% for gender in Genders %}
                                        <option value="{{ gender.id }}">{{ gender.gender }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="id_customer-nationality">Nationality :</label>
                            <select id="id_customer-nationality" name="customer-nationality" class="form-control">
                                    <option value="{{ customer.nationality.id }}" selected>{{ customer.nationality }}</option>
                                    {% for Nationality in Nationalities  %}
                                        <option value="{{ Nationality.id }}">{{ Nationality }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="id_customer-language">Language :</label>
                            <select id="id_customer-language" name="customer-language" class="form-control">
                                    <option value="{{ customer.language.id }}" selected>{{ customer.language }}</option>
                                    {% for Language in Languages %}
                                        <option value="{{ Language.id }}">{{ Language }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="id_customer-trn" > TRN : </label>
                            <input type="text"  value="{{ customer.trn }}" id="id_customer-trn" name="customer-trn" class="form-control" placeholder="TRN..." aria-label="TRN">
                        </div>
                    {% endif %}


                    <br>
                    <h3>Contact Information</h3>
                    <!-- add Phone Number forms -->
                    {% for phone in phones %}
                        <div class="col-md-4">
                            <label for="id_customer-whats_apps" > Phone Number : </label>
                            <input type="text" id="id_customer-phone_numbers" name="customer-phone_numbers" class="form-control" value="{{ phone.number }}" placeholder="Phone Numbers..." aria-label="Phone Numbers" required>
                            <a href="{% url 'delete_number' phone.number.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
                        <br><br>
                        </div>
                    {% endfor %}
                    <div id="additional-phone-numbers"></div>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="addNewPhoneNumber()">Add New Phone Number</button>
                    <script>
                        var phoneNumberCounter = 2;
                        function addNewPhoneNumber() {
                            var container = document.createElement('div');
                            container.className = 'col-md-4';

                            var label = document.createElement('label');
                            label.setAttribute('for', 'id_customer-phone-number-' + phoneNumberCounter);
                            label.textContent = 'New Phone Number ' + ' :';
                    
                            var input = document.createElement('input');
                            input.type = 'text';
                            input.id = 'id_customer-phone-number-' + phoneNumberCounter;
                            input.name = 'customer-phone_numbers';
                            input.className = 'form-control';
                            input.placeholder = 'New Phone Number ' + '...';
                            input.setAttribute('aria-label', 'Phone Number ' + phoneNumberCounter);
                    
                            container.appendChild(label);
                            container.appendChild(input);
                    
                            var button = document.createElement('button');
                            button.type = 'button';
                            button.className = 'btn btn-danger btn-sm';
                            button.textContent = 'Remove';
                            button.onclick = function () {
                                container.remove();
                            };
                    
                            container.appendChild(button);
                    
                            document.getElementById('additional-phone-numbers').appendChild(container);
                    
                            // Optionally, you can clear the value of the new input
                            input.value = '';
                    
                            phoneNumberCounter++;
                        }
                    </script>

                    <br><br>

                    <!-- add Landlines forms -->
                    {% for landline in landlines %}
                    <div class="col-md-4">
                        <label for="id_customer-landlines">Landlines :</label>
                        <input type="text" value="{{ landline.landline }}" id="id_customer-landlines" name="customer-landlines" class="form-control" placeholder="Landlines..." aria-label="Landlines">
                        <a href="{% url 'delete_landline' landline.landline.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
                        <br><br>
                    </div>
                    {% endfor %}
                    <div id="additional-landlines"></div>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="addNewLandline()">Add New Landline</button>
                    <script>
                        var landlineCounter = 2;
                    
                        function addNewLandline() {
                            var container = document.createElement('div');
                            container.className = 'col-md-4';
                    
                            var label = document.createElement('label');
                            label.setAttribute('for', 'id_customer-landline-' + landlineCounter);
                            label.textContent = 'New Landline ' + ' :';
                    
                            var input = document.createElement('input');
                            input.type = 'text';
                            input.id = 'id_customer-landline-' + landlineCounter;
                            input.name = 'customer-landlines';
                            input.className = 'form-control';
                            input.placeholder = 'New Landline ' + '...';
                            input.setAttribute('aria-label', 'Landline ' + landlineCounter);
                    
                            container.appendChild(label);
                            container.appendChild(input);
                    
                            var button = document.createElement('button');
                            button.type = 'button';
                            button.className = 'btn btn-danger btn-sm';
                            button.textContent = 'Remove';
                            button.onclick = function () {
                                container.remove();
                            };
                    
                            container.appendChild(button);
                    
                            document.getElementById('additional-landlines').appendChild(container);
                    
                            // Optionally, you can clear the value of the new input
                            input.value = '';
                    
                            landlineCounter++;
                        }
                    </script>
                    
                    <br><br>

                    <!-- add WhatsApp forms -->
                    {% for whatsApp in whatsApps %}
                    <div class="col-md-4">
                        <label for="id_customer-whats_apps">WhatsApp :</label>
                        <input type="text" value="{{ whatsApp.number }}" id="id_customer-whats_apps" name="customer-whats_apps" class="form-control" placeholder="WhatsApp..." aria-label="WhatsApp">
                        <a href="{% url 'delete_whatsApp' whatsApp.number.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
                        <br><br>
                    </div>
                    {% endfor %}
                    <div id="additional-whatsapps"></div>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="addNewWhatsapp()">Add New WhatsApp</button>
                    <script>
                        var whatsappCounter = 2;
                    
                        function addNewWhatsapp() {
                            var container = document.createElement('div');
                            container.className = 'col-md-4';
                    
                            var label = document.createElement('label');
                            label.setAttribute('for', 'id_customer-whatsapp-' + whatsappCounter);
                            label.textContent = 'New WhatsApp ' + ' :';
                    
                            var input = document.createElement('input');
                            input.type = 'text';
                            input.id = 'id_customer-whatsapp-' + whatsappCounter;
                            input.name = 'customer-whats_apps';
                            input.className = 'form-control';
                            input.placeholder = 'New WhatsApp ' + '...';
                            input.setAttribute('aria-label', 'WhatsApp ' + whatsappCounter);
                    
                            container.appendChild(label);
                            container.appendChild(input);
                    
                            var button = document.createElement('button');
                            button.type = 'button';
                            button.className = 'btn btn-danger btn-sm';
                            button.textContent = 'Remove';
                            button.onclick = function () {
                                container.remove();
                            };
                    
                            container.appendChild(button);
                    
                            document.getElementById('additional-whatsapps').appendChild(container);
                    
                            // Optionally, you can clear the value of the new input
                            input.value = '';
                    
                            whatsappCounter++;
                        }
                    </script>
                    
                    <br><br>

                    <!-- add Emails forms -->
                    {% for email in emails %}
                    <div class="col-md-4">
                        <label for="id_customer-emails">Email :</label>
                        <input type="text" value="{{ email.mail }}" id="id_customer-emails" name="customer-emails" class="form-control" placeholder="Email..." aria-label="Email">
                        <a href="{% url 'delete_email' email.mail.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
                        <br><br>
                    </div>
                    {% endfor %}
                    <div id="additional-emails"></div>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="addNewEmail()">Add New Email</button>
                    <script>
                        var emailCounter = 2;
                    
                        function addNewEmail() {
                            var container = document.createElement('div');
                            container.className = 'col-md-4';
                    
                            var label = document.createElement('label');
                            label.setAttribute('for', 'id_customer-email-' + emailCounter);
                            label.textContent = 'New Email ' + ' :';
                    
                            var input = document.createElement('input');
                            input.type = 'text';
                            input.id = 'id_customer-email-' + emailCounter;
                            input.name = 'customer-emails';
                            input.className = 'form-control';
                            input.placeholder = 'New Email ' + '...';
                            input.setAttribute('aria-label', 'Email ' + emailCounter);
                    
                            container.appendChild(label);
                            container.appendChild(input);
                    
                            var button = document.createElement('button');
                            button.type = 'button';
                            button.className = 'btn btn-danger btn-sm';
                            button.textContent = 'Remove';
                            button.onclick = function () {
                                container.remove();
                            };
                    
                            container.appendChild(button);
                    
                            document.getElementById('additional-emails').appendChild(container);
                    
                            // Optionally, you can clear the value of the new input
                            input.value = '';
                    
                            emailCounter++;
                        }
                    </script>
                    
                    <br><br>
                </div>
<!-- ############################################################################ -->


                <br>
                <div class="col-md-4"></div>

                    <div id="addressSection" class="address-form" >
                        

                        {% for address in addresses %}
                        
                        <h3>Address <a href="{% url 'delete_address' address.adrs.id %}"><button type="button" class="btn btn-danger">Delete this address</button></a> </h3>
                        <div class="col-md-4">
                            <label for="id_address-address_name"> Address Name :</label>
                            <input type="text" value="{{ address.adrs.address_name }}" id="id_address-address_name" name="address-address_name" class="form-control" placeholder="Address name..." aria-label="Address name">
                        </div>
                        <div class="col-md-4">
                            <label for="id_address-type"> Type :</label>
                            <select id="id_address-type" name="address-type" class="form-control">
                                    
                                    {% for Type in types %}
                                        {% if address.adrs.type == Type.id  %}
                                        <option value="{{ address.adrs.type }}"  selected >{{ address.adrs.type }}</option>
                                        {% else %}
                                        <option value="{{ Type.id }}">{{ Type.type }}</option>
                                        {% endif %}

                                    {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="id_address-emirate">  Emirate :</label>
                            <select id="id_address-emirate" name="address-emirate" class="form-control">
                                    <option value="{{ address.adrs.emirate.id }}" selected>{{ address.adrs.emirate }}</option>
                                    {% for Emirate in Emirates %}
                                        <option value="{{ Emirate.id }}">{{ Emirate }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="id_address-description_location"> Description location : </label>
                            <textarea type="text" value="{{ address.adrs.description_location }}" id="id_address-description_location" name="address-description_location" class="form-control" placeholder="Description location..." aria-label="Description location">{{ address.adrs.description_location }}</textarea>
                        </div>

                        <div class="col-md-4">
                            <label for="id_address-location"> Location :</label>
                            <input type="text" value="{{ address.adrs.location }}" id="id_address-location" name="address-location" class="form-control" placeholder="Location..." aria-label="Location">
                            <input type="hidden" name="address-customer" id="id_address-customer">
                        </div>
                        <br>
                        <ul  class="inq-container" id="inqContainer_{{ forloop.counter }}" >
                            {% for inquiry in inquiries %}
                                {% if inquiry.address == address.adrs %}
                                    <li>
                                        
                                        <h3>Inquiry <a href="{% url 'delete_inquiry' inquiry.id %}"><button type="button" class="btn btn-danger">Delete this Inquiry</button></a> </h3>

                                        <div class="col-md-4">
                                            <label for="id_inquiry-inq_num"> Inquiry Number : </label>
                                            <input type="text" value="{{ inquiry.inq_num }}" name="inquiry-inq_num" class="form-control" placeholder="Inquiry Number..." aria-label="Inquiry Number">
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <label for="id_inquiry-date_inq"> Date Inquiry : </label>
                                            <input type="date" value="{{ inquiry.date_inq|date:'Y-m-d' }}" name="inquiry-date_inq" class="form-control"  aria-label="Date Inquiry">
                                            <!--<button class="btn btn" type="button" onclick="fillCurrentDate()">Fill Current Date</button>-->
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <label for="id_customer-source">Source :</label>
                                            <select name="customer-source" class="form-control">
                                                <option value="{{ inquiry.source.id }}" selected>{{ inquiry.source }}</option>
                                                {% for Source in Sources %}
                                                    <option value="{{ Source.id }}">{{ Source }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="id_inquiry-services"> Services : </label>
                                            <select name="inquiry-services" class="form-control">
                                                


                                                {% for srv in Services %}
                                                {% for selected_service in inquiry.services.all %}
                                                    {% if srv.id == selected_service.id %}
                                                        <option value="{{ selected_service.id }}" selected>{{ selected_service }}</option>
                                                    {% else %}
                                                        <option value="{{ srv.id }}">{{ srv }}</option>
                                                    {% endif %}
                                                        {% endfor %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="id_inquiry-description"> Description : </label>
                                            <textarea name="inquiry-description" value="{{ inquiry.description }}" class="form-control" placeholder="Inquiry description..." aria-label="Inquiry description">{{ inquiry.description }}</textarea>
                                        </div>
                                        <br>
                                    </li>
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </ul>


                        
                        <!-- Container for inquiries associated with this address -->
                            <ul class="inq-container" id="inqContainer_{{ forloop.counter }}"></ul>

                            <!-- Add new inquiry button for this address -->
                            <button class="btn btn-secondary btn-sm" type="button" onclick="addInq('{{ forloop.counter }}')">Add New Inquiry</button>
                            <!-- Display the number of inquiries for this address -->
                            <p>Total Inquiries: <span id="inqCount_{{ forloop.counter }}">0</span></p>


                            <script>

                                function addInq(addressIndex) {
                                    console.log(addressIndex)
                                    
                                    // Create a new div for the inquiry section
                                    var newInqSection = document.createElement('li');
                                    newInqSection.className = 'inq-form';

                                    // Increment the inquiry counter for this address
                                    inqCounters[addressIndex]++;

                                    // Update the displayed number of inquiries for this address
                                    document.getElementById(`inqCount_${addressIndex}`).textContent = inqCounters[addressIndex];


                                    // Append the HTML for the inquiry section
                                    newInqSection.innerHTML = `
                                            <h3>Inquiry</h3>

                                                <div class="col-md-4">
                                                    <label for="id_inquiry-inq_num"> Inquiry Number : </label>
                                                    <input type="text" name="inquiry-inq_num" class="form-control" placeholder="Inquiry Number..." aria-label="Inquiry Number">
                                                </div>
                                                
                                                <div class="col-md-4">
                                                    <label for="id_inquiry-date_inq"> Date Inquiry : </label>
                                                    <input type="date" name="inquiry-date_inq" class="form-control" placeholder="Date Inquiry..." aria-label="Date Inquiry">
                                                    <!--<button class="btn btn" type="button" onclick="fillCurrentDate()">Fill Current Date</button>-->
                                                </div>
                                                
                                                <div class="col-md-4">
                                                    <label for="id_customer-source">Source :</label>
                                                    <select name="customer-source" class="form-control">
                                                        <option value="" selected disabled>Select Source...</option>
                                                        {% for Source in Sources %}
                                                            <option value="{{ Source.id }}">{{ Source }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="id_inquiry-services"> Services : </label>
                                                    <select name="inquiry-services" class="form-control">
                                                        {% for srv in Services %}
                                                            {% if srv.name == "Others" %}
                                                                <option value="{{ srv.id }}" selected>{{ srv }}</option>
                                                            {% else %}
                                                                <option value="{{ srv.id }}">{{ srv }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="id_inquiry-description"> Description : </label>
                                                    <textarea name="inquiry-description" class="form-control" placeholder="Inquiry description..." aria-label="Inquiry Number"></textarea>
                                                </div>
                                                <br>
                                    `;

                                    // Add a delete button for the inquiry
                                    var deleteInqButton = document.createElement('button');
                                    deleteInqButton.type = 'button';
                                    deleteInqButton.className = 'btn btn-danger btn-sm';
                                    deleteInqButton.textContent = 'Remove Inquiry';
                                    deleteInqButton.onclick = function () {
                                        newInqSection.remove();

                                        // Decrement the inquiry counter for this address when an inquiry is removed
                                        inqCounters[addressIndex]--;
                                        document.getElementById(`inqCount_${addressIndex}`).textContent = inqCounters[addressIndex];
                                        updateInqCountersInput();
                                    };
                                    newInqSection.appendChild(deleteInqButton);

                                    // Append the new inquiry section to the associated address container
                                    var inqContainerId = `inqContainer_${addressIndex}`;
                                    document.getElementById(inqContainerId).appendChild(newInqSection);
                                    
                                    updateInqCountersInput();
                                }

                            </script>

                            
                        <br>

                    {% endfor %}

                    </div>

                    <div id="newaddressSection" class="address-form" >
                    </div>

                    <!-- Add new address button -->
                    <button class="btn btn-secondary btn-sm"  type="button" onclick="addNewAddress()">Add New Address</button>
                    <input type="hidden" name="inq_counters" id="inqCountersInput" value="">

                    <br>

                <input type="hidden" name="addresseslen" id="addresseslen" value="{{ addresseslen }}">
                <input type="hidden" name="initial_inq_counters" id="initial_inq_counters" value="{{ initial_inq_counters }}">

                <!-- JavaScript code to add new address forms dynamically -->

                <script>

                    var addressCounter = parseInt(document.getElementById('addresseslen').value) + 1 ;

                    // Assuming document.getElementById('initial_inq_counters').value is '{"1": 2, "2": 1}'
                    var inqCountersString = document.getElementById('initial_inq_counters').value;
                    // Remove single quotes if they are present
                    inqCountersString = inqCountersString.replace(/'/g, '"');
                    // Parse the JSON string into an object
                    var inqCounters = JSON.parse(inqCountersString);

                    console.log(addressCounter);
                    console.log(inqCounters);
                    
                    var br = document.createElement('br');
                    //var addressCounter = 1;
                    //var inqCounters = {};  // Counter for each address
                    updateInqCountersInput()
                    function addNewAddress() {

                        // Create a new div for the address section
                        var newAddressSection = document.createElement('div');
                        newAddressSection.className = 'address-form';

                        // Initialize the inquiry counter for this address
                        var addressIndex = addressCounter;
                        inqCounters[addressIndex] = 0;

                        // Append the HTML for the address section
                        newAddressSection.innerHTML = `
                            <h3>Address</h3>
                            <div class="col-md-4">
                                <label for="id_address-address_name"> Address Name :</label>
                                <input type="text" name="address-address_name" class="form-control" placeholder="Address name..." aria-label="Address name">
                            </div>
                            <div class="col-md-4">
                                <label for="id_address-type"> Type :</label>
                                <select name="address-type" class="form-control">
                                    <option value="" selected>Select Type...</option>
                                    {% for Type in types %}
                                        <option value="{{ Type.id }}">{{ Type.type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="id_address-emirate">  Emirate :</label>
                                <select name="address-emirate" class="form-control">
                                    <option value="" selected>Select Emirate...</option>
                                    {% for Emirate in Emirates %}
                                        <option value="{{ Emirate.id }}">{{ Emirate }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="id_address-description_location"> Description location : </label>
                                <textarea name="address-description_location" class="form-control" placeholder="Description location..." aria-label="Description location"></textarea>
                            </div>
                            <div class="col-md-4">
                                <label for="id_address-location"> Location :</label>
                                <input type="text" name="address-location" class="form-control" placeholder="Location..." aria-label="Location">
                                <input type="hidden" name="address-customer" id="id_address-customer">
                            </div>
                            <br>

                            <!-- Container for inquiries associated with this address -->
                            <ul class="inq-container" id="inqContainer_${addressCounter}"></ul>

                            <!-- Add new inquiry button for this address -->
                            <button class="btn btn-secondary btn-sm" type="button" onclick="addNewInq(${addressCounter})">Add New Inquiry</button>

                            <!-- Display the number of inquiries for this address -->
                            <p>Total Inquiries: <span id="inqCount_${addressIndex}">0</span></p>
                            
                        `;
                        
                        
                        newAddressSection.appendChild(br);
                        newAddressSection.appendChild(br);
                        // Add a delete button
                        var deleteButton = document.createElement('button');
                        deleteButton.type = 'button';
                        deleteButton.className = 'btn btn-danger btn-sm';
                        deleteButton.textContent = 'Remove Address';
                        deleteButton.onclick = function () {
                            newAddressSection.remove();
                            delete inqCounters[addressIndex];  // Remove the counter for this address
                            addressCounter = addressCounter-1
                        };

                        newAddressSection.appendChild(deleteButton);
                        // Increment the counter for the next address
                        addressCounter++;

                        // Append the new address section to the container
                        document.getElementById('newaddressSection').appendChild(newAddressSection);
                        updateInqCountersInput();
                    }

                    var inqCounter = 1;

                    function addNewInq(addressIndex) {
                        
                        // Create a new div for the inquiry section
                        var newInqSection = document.createElement('li');
                        newInqSection.className = 'inq-form';

                        // Increment the inquiry counter for this address
                        inqCounters[addressIndex]++;

                        // Update the displayed number of inquiries for this address
                        document.getElementById(`inqCount_${addressIndex}`).textContent = inqCounters[addressIndex];


                        // Append the HTML for the inquiry section
                        newInqSection.innerHTML = `
                                <h3>Inquiry</h3>

                                    <div class="col-md-4">
                                        <label for="id_inquiry-inq_num"> Inquiry Number : </label>
                                        <input type="text" name="inquiry-inq_num" class="form-control" placeholder="Inquiry Number..." aria-label="Inquiry Number">
                                    </div>
                                    
                                    <div class="col-md-4">
                                        <label for="id_inquiry-date_inq"> Date Inquiry : </label>
                                        <input type="date" name="inquiry-date_inq" class="form-control" placeholder="Date Inquiry..." aria-label="Date Inquiry">
                                        <!--<button class="btn btn" type="button" onclick="fillCurrentDate()">Fill Current Date</button>-->
                                    </div>
                                    
                                    <div class="col-md-4">
                                        <label for="id_customer-source">Source :</label>
                                        <select name="customer-source" class="form-control">
                                            <option value="" selected disabled>Select Source...</option>
                                            {% for Source in Sources %}
                                                <option value="{{ Source.id }}">{{ Source }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="id_inquiry-services"> Services : </label>
                                        <select name="inquiry-services" class="form-control">
                                            {% for srv in Services %}
                                                {% if srv.name == "Others" %}
                                                    <option value="{{ srv.id }}" selected>{{ srv }}</option>
                                                {% else %}
                                                    <option value="{{ srv.id }}">{{ srv }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="id_inquiry-description"> Description : </label>
                                        <textarea name="inquiry-description" class="form-control" placeholder="Inquiry description..." aria-label="Inquiry Number"></textarea>
                                    </div>
                                    <br>
                        `;

                        // Add a delete button for the inquiry
                        var deleteInqButton = document.createElement('button');
                        deleteInqButton.type = 'button';
                        deleteInqButton.className = 'btn btn-danger btn-sm';
                        deleteInqButton.textContent = 'Remove Inquiry';
                        deleteInqButton.onclick = function () {
                            newInqSection.remove();

                            // Decrement the inquiry counter for this address when an inquiry is removed
                            inqCounters[addressIndex]--;
                            document.getElementById(`inqCount_${addressIndex}`).textContent = inqCounters[addressIndex];
                        };
                        newInqSection.appendChild(deleteInqButton);

                        // Append the new inquiry section to the associated address container
                        var inqContainerId = `inqContainer_${addressIndex}`;
                        document.getElementById(inqContainerId).appendChild(newInqSection);
                        
                        updateInqCountersInput();
                    }

                    function updateInqCountersInput() {
                        console.log(inqCounters)
                        // Update the hidden input field with the serialized JSON data
                        var inqCountersInput = document.getElementById('inqCountersInput');
                        inqCountersInput.value = JSON.stringify(inqCounters);
                    }
                </script>

                </div>


                <br><br><br>
                <button class="btn btn-success" type="submit">Edit Customer</button>
            </form>

<!-- ######################################################################### -->


        <!-- Content: Start -->
        {% if is_flex %}
        <div class="{{container_class}} d-flex align-items-stretch flex-grow-1 p-0">
        {% else %}
        <div class="{{container_class}} flex-grow-1 container-p-y">
            {% endif %}
            {% block content %}
            {% endblock content %}

        </div>
        <!-- / Content: End -->

        <!--{% if is_footer %}
            Footer: Start 
        {% include "parts/footer.html" %}
            Footer: End 
        {% endif %}-->

        <div class="content-backdrop fade"></div>
        </div>
        <!--/ Content wrapper: End -->
    </div>
    <!-- / Layout page: End -->
    </div>

    {% if is_menu %}
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    {% endif %}
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- Layout wrapper: End -->
{% endblock layout %}
