{% extends 'layout/master.html' %}

{% block title %}Map{% endblock %}

{% block layout %}
<!-- Layout wrapper: Start -->
<div class="layout-wrapper layout-content-navbar {{ is_menu|yesno:',layout-without-menu' }}">
<div class="layout-container">

    {% if is_menu %}
    <!-- Menu: Start -->
    {% include "parts/vertical_menu.html" %}
    <!-- Menu: End -->
    {% endif %}

    <!-- Layout page: Start -->
    <div class="layout-page">


    {% if is_navbar %}
    <!-- Navbar: Start -->
    {% include "parts/navbar.html" %}
    <!-- Navbar: End -->
    {% endif %}

<!-- ######################################################################### -->
    <!-- Content wrapper: Start -->
    <div id="update" class="content-wrapper">

        <div class="container">
            <br>
            <center><h2>Search by places</h2></center>
            <br>
            
            <form action="" method="get">

                <div class="row">

                    <div class="col-md-2">
                        <label for="">status : </label>
                        <select name="status"  class="form-control">
                            <option value="" selected>State</option>
                            {% for state in states %}
    
                                {% if state.id == search_str.status %}
                                    <option value="{{state.id}}" selected>{{state}}</option>
                                {% else %}
                                    <option value="{{state.id}}">{{state}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label for="">start date : </label>
                        <input type="date" value="{{request.GET.start}}" name="start"  class="form-control" required>
                    </div>
                    
                
                    <div class="col-md-2">
                        <label for="">finish date : </label>
                        <input type="date" value="{{request.GET.finish}}" name="finish"  class="form-control" required>
                    </div>

                    <div class="col-md-2">
                        <label for="">service : </label>
                        <select name="service"  class="form-control">
                            <option value="" selected>Service</option>
                            {% for service in services %}
                                {% if service.id == search_str.service %}
                                    <option value="{{service.id}}" selected>{{service}}</option>
                                {% else %}
                                    <option value="{{service.id}}">{{service}}</option>
                                {% endif %}                            
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label for="">service provider : </label>
                        <select name="sp"  class="form-control">
                            <option value="" selected>Service Provider</option>
                            {% for serviceProvider in service_providers %}
                                {% if serviceProvider.id == search_str.sp %}
                                    <option value="{{serviceProvider.id}}" selected>{{serviceProvider}}</option>
                                {% else %}
                                    <option value="{{serviceProvider.id}}">{{serviceProvider}}</option>
                                {% endif %}                            
                            {% endfor %}
                        </select>
                    </div>

                </div>
                
                <center>
                    <div class="col-md-2">
                        <br>
                        <button type="submit"  class="form-control">search</button>
                        <br>
                    </div>
                </center>

            </form>

            <div id="map" style="height: 400px;"></div>
            <script>
                var coordinates = {{coord|safe}};
                
        
                var map = L.map('map');
                
                // Calculate bounding box
                var bounds = coordinates.reduce(function(bounds, coord) {
                    return bounds.extend(coord);
                }, L.latLngBounds(coordinates[0], coordinates[0]));
        
                // Set map view to center on the bounding box
                map.fitBounds(bounds);
        
                // Add OpenStreetMap tile layer
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
        
                // Add markers for each coordinate
                coordinates.forEach(function(coord) {
                    L.marker(coord).addTo(map);
                });
            </script>
            

            

        </div>

        <!-- Content: Start -->
        {% if is_flex %}
        <div class="{{container_class}} d-flex align-items-stretch flex-grow-1 p-0">
        {% else %}
        <div class="{{container_class}} flex-grow-1 container-p-y">
            {% endif %}
            {% block content %}
            {% endblock content %}

        </div>
        <!-- / Content: End -->

        <!--{% if is_footer %}
            Footer: Start 
        {% include "parts/footer.html" %}
            Footer: End 
        {% endif %}-->

        <div class="content-backdrop fade"></div>
        </div>
        <!--/ Content wrapper: End -->
    </div>

    <!-- / Layout page: End -->
    </div>

    {% if is_menu %}
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    {% endif %}
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
</div>
<!-- Layout wrapper: End -->
{% endblock layout %}
