<style>
    table {
        width: 100%;
    }

    td {
        vertical-align: top;
    }

    #services-info {
        text-align: right;
    }

    #logo {
        text-align: center;
    }

    #company-info {
        text-align: left;
    }
</style>

<table>
    <tr>
        <td id="services-info">
            <br>
            <br>
            <center>
                <h4>Service Provided By</h4>
                <h4>{{ service }}</h4>
            </center>
        </td>
        <td id="logo">
            <img src="{{sp.image}}" width="100">
            <h2 style="color: #78d64c;">QUOTATION</h2>
        </td>
        <td id="company-info">
            <br>
            <br>
            <center>
                <h4>www.technical-24.com</h4>
                <h4>Date : {{date}}</h4>
                <h4>Inquiry number : {{ inquiry.id }}</h4>
            </center>
        </td>
    </tr>
</table>

<hr>
<br><br>
<h2>Quotation  To:</h2>
<ul>
    <li><p>customer name : {{ inquiry.customer }} </p></li>
    {% if inquiry.customer.trn %}
        <li><p>customer TRN : {{ inquiry.customer.trn }} </p></li>
    {% endif %}
    <li><p>Phone number : {{ phone }} </p></li>
    <li><p>Address : {{ address }} </p></li>
    <li><p>Email : {{ email }} </p></li>
</ul>

<br>
<br>

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
    }

    .th, .td {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    .th {
        background-color: #f2f2f2;
    }
</style>

<table class="table">
    <thead>
        <tr class="tr">
            {% for column in columns_list %}
                <th class="th">{{column}}</th>
            {% endfor %}
            <!-- Add other columns as needed -->
        </tr>
    </thead>
    <tbody>
        {% for line in data %}
            <tr class="tr">
                {% for case in line %}
                    <td class="td">{{ case }}</td>
                {% endfor %}
                <!-- Add other columns as needed -->
            </tr>
        {% endfor %}
    </tbody>
</table>

<hr>
<br><br>


<style>
    /* Apply styles to ensure consistent spacing */
    li {
        display: flex;
        justify-content: space-between;
        padding: 5px; /* Adjust padding as needed */
    }

    /* Optionally, style the <p> elements for additional control */
    li p {
        margin: 0;
    }
</style>

<!-- HTML content -->
<ul>
    <li><h3>Amount without VAR :       {{ total }} SAR</h3></li>
    <li><h3>VAR :       0 SAR</h3></li>
    <li><h3>Total amount:       {{ total }} SAR</h3></li>
</ul>

<br><br>
<hr>
<br>
<ul>

    <li><h3> service mail : {{sp.email}}</h3></li>
    <li><h3> service number : {{ sp.phone }}</h3></li>
</ul>



